<template>
  <div id="app" v-bind:class="[(visibleStats !== 'none' && visibleStats !== '') ? 'md-show-full' : '', background_color === 'transparent' ? 'background-transparent' : '']" v-bind:style="{ 'background-color': '#' + background_color }">
    <div class="animated-headline">
      <h1 v-text="headline"></h1>
      <h2 v-text="headline2"></h2>
    </div>
    <div class="message-wrapper">
      <transition name="message">
        <div v-if="visibleStats === 'teamstatistik'" class="message">
          <team-stats
            v-bind:teamA="teamA"
            v-bind:teamB="teamB"
            v-bind:current="'game'"
          ></team-stats>
        </div>
        <div v-if="visibleStats === 'teamstatistik-aktuelles-viertel'" class="message">
          <team-stats
            v-bind:teamA="teamA"
            v-bind:teamB="teamB"
            v-bind:current="'quarter'"
          ></team-stats>
        </div>
        <div v-if="visibleStats === 'tabelle'" class="message">
          <tabelle
            v-bind:league="game.leagueIdentifier"
            v-bind:table="table"
            v-bind:teamA="teamA"
            v-bind:teamB="teamB"
            ></tabelle>
        </div>
        <div v-if="visibleStats === 'spieltag'" class="message">
          <spieltag
            v-bind:game="game"
          ></spieltag>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import TeamStats from "../../components/display/TeamStatistics.vue";
import Tabelle from "../../components/display/LeagueTable.vue";
import Spieltag from "../../components/display/Spieltag.vue";
import Game from "../../classes/Game";
import Team from "../../classes/Team";

const decoder = new TextDecoder("ISO-8859-1")

Date.prototype.timeNow = function () {
  return ((this.getHours() < 10)?"0":"") + this.getHours() +":"+ ((this.getMinutes() < 10)?"0":"") + this.getMinutes() +":"+ ((this.getSeconds() < 10)?"0":"") + this.getSeconds();
}

export default {
  name: 'App',
  components: {
    TeamStats,
    Tabelle,
    Spieltag,
  },
  data: function() {
    return {
      connection: null,
      gameId: new URL(location.href).searchParams.get('gameId'),
      game: {},
      teamA: undefined,
      teamB: undefined,
      table: [],
      currentPeriod: '',
      statind: [],
      statistics: {},
      apiKey: new URL(location.href).searchParams.get('key'),
      mode: new URL(location.href).searchParams.get('mode'),
      background_color: new URL(location.href).searchParams.get('background-color'),
      visibleStats: '',
    }
  },
  computed: {
    playersA() {
      if (this.game.roster) {
        return this.game.roster.filter(player => player.TC === 'A');
      }
      return [];
    },
    playersB() {
      if (this.game.roster) {
        return this.game.roster.filter(player => player.TC === 'B');
      }
      return [];
    },
    startingFiveA() {
      if (this.statind) {
        return this.statind.filter(player => (player[0] === 'A' && player[25] === '1'));
      }
      return [];
    },
    startingFiveB() {
      if (this.statind) {
        return this.statind.filter(player => (player[0] === 'B' && player[25] === '1'));
      }
      return []
    },
    headline() {
      switch (this.visibleStats) {
        case 'spieltag':
          return this.game.round;
        case 'tabelle':
          return 'Tabelle ' + this.game.league;
        case 'teamstatistik':
        case 'teamstatistik-aktuelles-viertel':
          return 'Teamstatistik';
        default:
          return ''
      }
    },
    headline2() {
      switch (this.visibleStats) {
        case 'teamstatistik':
          return 'Gesamtes Spiel';
        case 'teamstatistik-aktuelles-viertel':
          return 'Aktuelles Viertel: ' + this.currentPeriod;
        default:
          return null;
      }
    },
  },
  watch: {
    visibleStats: function (newValue, oldValue) {
      if (oldValue !== '' && newValue !== 'none') {
        console.log('Update visible stats data.');
        this.fetchMainLiveData();
      }
    }
  },
  methods: {
    fetchMainLiveData() {
      const vm = this;

      if (this.apiKey && this.gameId) {
        axios
          .get('https://api.2basketballbundesliga.de/livedata/' + vm.gameId + '.JSN/' + vm.apiKey + '?t=' + new Date().getTime())
          .then(response => vm.setGameData(response.data))
      }
      return true;
    },
    setGameData(data) {
      if (data) {
        this.currentPeriod = data.CurPer;
        this.lastActionDate = data.actions[0][14];

        if (this.teamA) {
          this.teamA.setStats(data.statteam[0]);
          this.teamB.setStats(data.statteam[1]);
        }

        if (this.teamA) {
          this.teamA.setStatsFromActions(data.actions, 'A');
          this.teamB.setStatsFromActions(data.actions, 'B');
        }
      }
    },
    fetchInitData() {
      if (this.apiKey && this.gameId) {
        console.log('Try to fetch init.json data...');
        const vm = this;
        axios
            .get('https://api.2basketballbundesliga.de/livedata/' + vm.gameId + '_INIT.JSN/' + vm.apiKey + '?t=' + new Date().getTime(), {
              responseType: 'arraybuffer',
            })
            .then(function (response) {
              if (response.data.byteLength > 0) {
                console.log('Successfully fetched init.json data');
                return decoder.decode(response.data);
              }
              else {
                return '{}';
              }
            })
            .then(JSON.parse)
            .then(data => {
              vm.game = new Game(data);
              data.teamroster.forEach(function (team) {
                vm['team' + team.TC] = new Team(team);
              })
            })
            .then(function () {
              console.log('Fetch Main Live Data.')
              vm.fetchMainLiveData();
            })
            .then(function () {
              console.log('Fetch Table Data.')
              vm.fetchTableData();
            })
            .then(function () {
              console.log('Enable display.')
              vm.visibleStats = window.location.hash.substring(1);
            })
      }
    },
    fetchTableData() {
      let vm = this;
      axios
          .get('https://api.2basketballbundesliga.de/tabelle_' + vm.game.leagueIdentifier + '/' + '?t=' + new Date().getTime())
          .then(function (response) {
            if (response.data && response.data.table !== undefined) {
              vm.table = response.data.table;
            }
          })
    },
  },
  created: function() {
    this.fetchInitData();
    let vm = this;
    window.addEventListener('hashchange', function() {
      vm.visibleStats = window.location.hash.substring(1);
    });
  },
}
</script>

<style lang="css">
@import "../../assets/css/display.css";
@import "../../assets/css/transitions.css";

:root {
  --base-transition-delay: .5s;
  --bs-body-bg: transparent !important;
}
</style>
