:root {
  --base-transition-delay: 0s;
}

html {
  font-size: 60px;
}

#app {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url("../../assets/images/sportdeutschland.tv_bayer-giants-leverkusen.png");
}

.background-transparent {
  background: transparent !important;
  background-image: none !important;
}

body {
  height: 1080px;
  width: 1920px;
  margin: 0;
  padding: 0;
}

#app h1 {
  height: 5%;
  flex-grow: 1;
  margin: 10px 0 0;
  color: #84bd00;
  font-size: 75px;
  font-weight: 300;
  text-align: left;
  line-height: 1.4;
}

#app h2 {
  margin-top: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
}

td {
  border: none;
  white-space: nowrap;
  padding-top: 2px;
}

.animated-headline h1, .animated-headline h2 {
  padding: 0 50px;
}

.message-wrapper {
  background-color: #FFFFFFe6;
  width: 1500px;
  height: 730px;
  position: absolute;
  top: 175px;
  font-size: 25px;
  overflow: hidden;
  border-bottom: 5px solid #84bd00;
}

.message {
  padding: 0 50px;
}

.message-full-flex {
  margin-top: 50px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.single-card-wrapper {
  position: absolute;
  top: 100px;
  background-color: #000000cf;
  right: 70px;
  color: #fff;
  font-size: 25px;
  padding: 20px 40px;
  text-align: left;
  min-width: 400px;
  letter-spacing: 1px;
  min-height: 600px;
}

#app .single-card-wrapper h1 {
  font-size: 0.9rem;
  margin: 30px 0 10px 0;
  text-align: left;
  letter-spacing: 0;
  font-weight: normal;
}

td {
  color: #000;
}

.single-card-wrapper td {
  color: #fff;
}

.progress-grey {
  background-color: #84bd00;
  height: 1em;
  max-width: 100%;
}

.progress-border {
  border: solid 1px #84bd00;
  display: inline-block;
  width: 100px;
  margin: 6px 6px -4px;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.font-small {
  font-size: .8em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-barmer {
  color: #84bd00;
}

td, th, h2 {
  letter-spacing: 1px;
}

.message .header {
  padding: 0 70px;
}

