td {
  transition: all 1s;
  transition-delay: var(--base-transition-delay);
}

.progress-grey {
  transition: all 2s;
  transition-delay: calc(var(--base-transition-delay) + .7s);
}

tr:nth-child(0) td, tr:nth-child(0) th {
  transition-delay: calc(var(--base-transition-delay) + .5s);
}
tr:nth-child(1) td, tr:nth-child(1) th {
  transition-delay:  calc(var(--base-transition-delay) + .5s);
}
tr:nth-child(2) td, tr:nth-child(2) th {
  transition-delay:  calc(var(--base-transition-delay) + .6s);
}
tr:nth-child(3) td, tr:nth-child(3) th {
  transition-delay:  calc(var(--base-transition-delay) + .7s);
}
tr:nth-child(4) td, tr:nth-child(4) th {
  transition-delay:  calc(var(--base-transition-delay) + .8s);
}
tr:nth-child(5) td, tr:nth-child(5) th {
  transition-delay:  calc(var(--base-transition-delay) + .9s);
}
tr:nth-child(6) td, tr:nth-child(6) th {
  transition-delay: calc(var(--base-transition-delay) + 1.0s);
}
tr:nth-child(7) td, tr:nth-child(7) th {
  transition-delay: calc(var(--base-transition-delay) + 1.1s);
}
tr:nth-child(8) td, tr:nth-child(8) th {
  transition-delay: calc(var(--base-transition-delay) + 1.2s);
}
tr:nth-child(9) td, tr:nth-child(9) th {
  transition-delay: calc(var(--base-transition-delay) + 1.3s);
}
tr:nth-child(10) td, tr:nth-child(10) th {
  transition-delay: calc(var(--base-transition-delay) + 1.4s);
}
tr:nth-child(11) td, tr:nth-child(11) th {
  transition-delay: calc(var(--base-transition-delay) + 1.5s);
}
tr:nth-child(12) td, tr:nth-child(12) th {
  transition-delay: calc(var(--base-transition-delay) + 1.6s);
}
tr:nth-child(13) td, tr:nth-child(13) th {
  transition-delay: calc(var(--base-transition-delay) + 1.7s);
}
tr:nth-child(14) td, tr:nth-child(14) th {
  transition-delay: calc(var(--base-transition-delay) + 1.8s);
}
tr:nth-child(15) td, tr:nth-child(15) th {
  transition-delay: calc(var(--base-transition-delay) + 1.9s);
}
tr:nth-child(16) td, tr:nth-child(16) th {
  transition-delay: calc(var(--base-transition-delay) + 2.0s);
}

.message-enter-active, .message-leave-active, .single-card-enter-active, .single-card-leave-active {
  transition: opacity .3s ease-out;
}
.message-enter, .message-leave-to, .single-card-enter, .single-card-leave-to /* .message-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.message-leave-active {
  transition-delay: 0s;
}
.message-enter-active td, .message-enter-active th, .single-card-enter-active td, .single-card-enter-active th {
  color: transparent;
  border-top-color: transparent;
  background-color: transparent;
}

.message-enter-active .progress-grey, .message-enter-active .progress-border, .single-card-enter-active .progress-grey, .single-card-enter-active .progress-border {
  border-color: transparent;
  background-color: transparent;
  max-width: 0;
}

/* Effect 10: 3D sign */
#app {
  perspective: 1300px;
}

#app > .message-wrapper {
  transform-style: preserve-3d;
  transform: rotateX(-60deg);
  transform-origin: 50% 0;
  opacity: 0;
  transition: all 0.4s, border-bottom-width 5s ease-out;
  transition-delay: var(--base-transition-delay);
}

.md-show-full#app > .message-wrapper {
  transform: rotateX(0deg);
  opacity: 1;
  transition-delay: calc(var(--base-transition-delay) + .7s);
}

.animated-headline {
  position: absolute;
  background-color: #FFFFFFe6;
  top: 5%;
  left: 210px;
  height: 111px;
  overflow: hidden;
  width: 0;
  transition: all ease-in-out .5s;
  transition-delay: 1s;
  border-bottom: #84bd00 2px solid;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.animated-headline h1 {
  opacity: 0;
  transition: opacity ease-in-out .3s;
  transition-delay:  calc(var(--base-transition-delay) + .3s);
}

.md-show-full#app > .animated-headline {
  left: 210px;
  width: 1500px;
  transition-delay: var(--base-transition-delay);
}

.md-show-full#app > .animated-headline h1 {
  opacity: 1;
  transition-delay:  calc(var(--base-transition-delay) + .3s);
}

#app > .single-card-wrapper {
  transform-style: preserve-3d;
  transform: rotateY(-20deg);
  transform-origin: 100% 50%;
  opacity: 0;
  transition: all 0.5s;
}

.md-show-single-card#app > .single-card-wrapper {
  transform: rotateY(0deg);
  opacity: 1;
}
