<template>
  <div id="app" class="pt-5">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container-fluid text-center">
        Connection:
        <span class="btn btn-success mx-2" v-if="connection && connection.readyState === 1">Connected</span>
        <span class="btn btn-danger mx-2" v-if="webSocketServerURL !== 'null' && connection && connection.readyState === 3">Disconnected</span>
        <span class="btn btn-danger mx-2" v-if="!webSocketServerURL || connection === 'null'">No Valid Server. Please Reload.</span>
        <basic-info
            v-if="teams.teamA && teams.teamB"
            :game="game"
            :round="round"
            :teamA="teams.teamA"
            :teamB="teams.teamB"
            :lastActionDate="lastActionDate"
            :lastFetch="lastFetch"
        ></basic-info>
        <button v-on:click="statistics = {headline: statistics.headline}" type="button" class="btn btn-danger mx-3" v-show="statistics !== null && Object.keys(statistics).length !== 0">Clear Statistics</button>
        <div class="dropdown dropstart" ref="settingsmodal">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="settingsDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Einstellungen
          </button>
          <div class="dropdown-menu">
            <form class="px-4 py-3">
              <div class="mb-3">
                <label for="input_gameId" class="form-label">Game ID</label>
                <input type="text" class="form-control" id="input_gameId" placeholder="Game ID" v-model="gameId">
              </div>
              <div class="mb-3">
                <label for="input_key" class="form-label">Key</label>
                <input type="text" class="form-control" id="input_key" placeholder="Key" v-model="key">
              </div>
              <div class="mb-3">
                <label for="input_league" class="form-label">Liga</label>
                <select class="form-control" id="input_league" v-model="league">
                  <option value="prob-nord">ProB Nord</option>
                  <option value="prob-sued">ProB Süd</option>
                  <option value="proa">ProA</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="input_server" class="form-label">Server</label>
                <input type="text" class="form-control" id="input_server" placeholder="Key" v-model="webSocketServerURL">
                <small id="emailHelp" class="form-text text-muted">wss://mein.server</small>

              </div>
              <button type="button" class="btn btn-primary" v-on:click="saveSettings()">Speichern</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <div v-if="error" v-text="error" class="alert alert-danger"></div>
    <div class="container">
      <div class="row my-5">
        <league-table
            v-bind:league="league"
        ></league-table>
      </div>
    </div>
    <div v-if="teams.teamA && teams.teamB">
      <div class="container">
        <div class="row my-5">
          <spieltag
              v-bind:game="game"
              v-bind:league="game.leagueIdentifier"
          ></spieltag>
        </div>
        <div class="row my-5">
          <spielplan
              v-bind:game_id="gameId"
              v-bind:league="league"
              v-bind:homeId="teams.teamA.teamId"
              v-bind:guestId="teams.teamB.teamId"
          ></spielplan>
        </div>
        <div class="row my-5">
          <h2>Kader</h2>
          <div class="col-6">
            <kader
                v-bind:players="playersA"
                v-bind:teamName="teams.teamA.name"
            ></kader>
          </div>
          <div class="col-6">
            <kader
                v-bind:players="playersB"
                v-bind:teamName="teams.teamB.name"
            ></kader>
          </div>
        </div>
        <div class="row my-5">
          <h2>Schiedsrichter</h2>
          <referees
              v-if="this.game.referee"
              v-bind:Name1="this.game.referee.Name1"
              v-bind:Name2="this.game.referee.Name2"
          ></referees>
        </div>
        <div class="my-5">
          <h2>Team Statistik</h2>
          <team-statistics
              v-bind:game="game"
              v-bind:teamA="teams.teamA"
              v-bind:teamB="teams.teamB"
          ></team-statistics>
        </div>
        <div class="my-5">
          <h2>Starting Five</h2>
          <starting-five
              v-bind:teamA="teams.teamA.name"
              v-bind:teamB="teams.teamB.name"
              v-bind:playersA="this.playersA"
              v-bind:playersB="this.playersB"
              v-bind:startingFiveARaw="this.startingFiveA"
              v-bind:startingFiveBRaw="this.startingFiveB"
              v-bind:homeID="this.game.homeId"
              v-bind:guestID="this.game.guestId"
          ></starting-five>
        </div>
      </div>
      <div class="container mt-5">
        <h2>Boxscore {{ teams.teamA.name }}</h2>
      </div>
      <div class="container mb-5">
        <boxscore
            v-bind:players="playersA"
            v-bind:teamName="teams.teamA.name"
            v-bind:statind="statind"
        ></boxscore>
      </div>
      <div class="container mt-5">
        <h2>Boxscore {{ teams.teamB.name }}</h2>
      </div>
      <div class="container mb-5">
        <boxscore
            v-bind:players="playersB"
            v-bind:teamName="teams.teamB.name"
            v-bind:statind="statind"
        ></boxscore>
      </div>
      <div class="container mt-5">
        <h2>Spieler {{ teams.teamA.name }}</h2>
      </div>
      <div class="container-fluid mb-5">
        <div class="row flex-wrap">
          <single-player-statistic
              v-for="player in playersA"
              v-bind:key="player.ID"
              v-bind:id="player.ID"
              v-bind:firstname="player.FirstName"
              v-bind:name="player.Name"
              v-bind:number="player.Nr"
              v-bind:team="player.TC"
              v-bind:age="player.Age"
              v-bind:height="player.Height"
              v-bind:position="player.Posshort"
              v-bind:statind="statind.find(element => (element[0] === player.TC && element[2] === player.Nr))"
          ></single-player-statistic>
        </div>
      </div>
      <div class="container mt-5">
        <h2>Spieler {{ teams.teamB.name }}</h2>
      </div>
      <div class="container-fluid mb-5">
        <div class="row flex-wrap">
          <single-player-statistic
              v-for="player in playersB"
              v-bind:key="player.ID"
              v-bind:id="player.ID"
              v-bind:firstname="player.FirstName"
              v-bind:name="player.Name"
              v-bind:number="player.Nr"
              v-bind:team="player.TC"
              v-bind:age="player.Age"
              v-bind:height="player.Height"
              v-bind:position="player.Posshort"
              v-bind:statind="statind.find(element => (element[0] === player.TC && element[2] === player.Nr))"
          ></single-player-statistic>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'bootstrap';
import axios from 'axios'
import BasicInfo from "../../components/control-board/BasicInfo";
import Kader from "../../components/control-board/Kader.vue";
import TeamStatistics from "../../components/control-board/TeamStatistics";
import StartingFive from "../../components/control-board/StartingFive";
import SinglePlayerStatistic from "../../components/control-board/SinglePlayerStatistic";
import Referees from "../../components/control-board/Referees";
import LeagueTable from "../../components/control-board/LeagueTable";
import Spielplan from "../../components/control-board/Spielplan";
import Spieltag from "../../components/control-board/Spieltag";
import Boxscore from "../../components/control-board/Boxscore";
import Game from "../../classes/Game";
import Team from "../../classes/Team";

const decoder = new TextDecoder("ISO-8859-1")

Date.prototype.timeNow = function () {
  return ((this.getHours() < 10)?"0":"") + this.getHours() +":"+ ((this.getMinutes() < 10)?"0":"") + this.getMinutes() +":"+ ((this.getSeconds() < 10)?"0":"") + this.getSeconds();
}

export default {
  name: 'App',
  components: {
    Boxscore,
    SinglePlayerStatistic,
    StartingFive,
    TeamStatistics,
    Kader,
    BasicInfo,
    Referees,
    LeagueTable,
    Spielplan,
    Spieltag,
  },
  data: function() {
    return {
      connection: null,
      gameId: null,
      key: null,
      webSocketServerURL: null,
      round: '',
      date: '',
      scoreHome: '',
      scoreGuest: '',
      roster: [],
      teamroster: [],
      referee: [],
      coach: [],
      currentPeriod: '',
      statind: [],
      statteam: [],
      actions: [],
      lastActionDate: '',
      statistics: {},
      publicPlayerIds: [],
      polling: null,
      lastFetch: null,
      initData: null,
      playerData: [],
      league: null,
      game: {},
      teams: {},
      teamA: undefined,
      teamB: undefined,
      error: '',
    }
  },
  computed: {
    homeID() {
      if (this.initData && this.initData.homeID) {
        return this.initData.homeID;
      }
      return { 'error': 'Could not fetch HomeID from scouting scouting "INIT.json"'};
    },
    guestID() {
      if (this.initData && this.initData.guestID) {
        return this.initData.guestID;
      }
      return { 'error': 'Could not fetch GuestID from scouting scouting "INIT.json"'};
    },
    playersA() {
      if (this.game.roster) {
        return this.game.roster.filter(player => player.TC === 'A');
      }
      return [];
    },
    playersB() {
      if (this.game.roster) {
        return this.game.roster.filter(player => player.TC === 'B');
      }
      return [];
    },
    startingFiveA() {
      if (this.statind) {
        return this.statind.filter(player => (player[0] === 'A' && player[25] === '1'));
      }
      return [];
    },
    startingFiveB() {
      if (this.statind) {
        return this.statind.filter(player => (player[0] === 'B' && player[25] === '1'));
      }
      return [];
    }
  },
  methods: {
    fetchMainLiveData() {
      let vm = this;
      // Fetch game data from API.
      axios
          .get('https://api.2basketballbundesliga.de/livedata/' + vm.gameId + '.JSN/' + this.key + '?t=' + new Date().getTime())
          .then(response => vm.setGameData(response.data))
          .then(() => {
                const currentDate = new Date();
                this.lastFetch = currentDate.timeNow()
              }
          )
    },
    fetchInitData() {
      const vm = this;
      // Fetch initial data from API.
      axios
        .get('https://api.2basketballbundesliga.de/livedata/' + vm.gameId + '_INIT.JSN/' + this.key + '?t=' + new Date().getTime(), {
          responseType: 'arraybuffer',
        })
        .then(response => response.data.byteLength > 0 ? decoder.decode(response.data) : '{}')
        .then(JSON.parse)
        .then(data => {
          if (Object.keys(data).length === 0) {
            this.error = 'Did not recive any data in "INIT.JSON". Has Scouting started yet?';
          }
          vm.game = new Game(data);
          if (data.teamroster) {
            data.teamroster.forEach(function (team) {
              vm.$set(vm.teams, 'team' + team.TC, new Team(team));
            })
          }
        })
        .then(function () {
          axios
              .get('https://api.2basketballbundesliga.de/stats_hauptrunde/?t=' + new Date().getTime())
              .then(function (response) {
                if (vm.teams.teamA && vm.teams.teamB) {
                  vm.$set(vm.teams, 'teamA', vm.teams.teamA.setSeasonStats(response.data));
                  vm.$set(vm.teams, 'teamB', vm.teams.teamB.setSeasonStats(response.data));
                }
              })
        }).then(function () {
          vm.fetchMainLiveData();
      });
    },
    setGameData(data) {
      if (data) {
        this.currentPeriod = data.CurPer;
        this.scoreHome = data.RA;
        this.scoreGuest = data.RB;
        this.statind = data.statind;
        this.statteam = data.statteam;
        this.actions = data.actions;
        this.lastActionDate = (data.actions && data.actions[0]) ? data.actions[0][14] : '';

        if (this.teams.teamA) {
          this.teams.teamA.setStats(data.statteam[0]);
          this.teams.teamB.setStats(data.statteam[1]);
        }

        if (this.teams.teamA) {
          this.teams.teamA.setStatsFromActions(data.actions, 'A');
          this.teams.teamB.setStatsFromActions(data.actions, 'B');
        }
      }
    },
    getPlayerData() {
      let vm = this;
      axios
          .get('https://api.2basketballbundesliga.de/stats_hauptrunde/?t=' + new Date().getTime())
          .then(response => vm.playerData = response.data)
    },
    saveSettings() {
      localStorage.setItem('key', this.key)
      localStorage.setItem('gameId', this.gameId);
      localStorage.setItem('league', this.league);
      localStorage.setItem('webSocketServerURL', this.webSocketServerURL);

      this.fetchMainLiveData();
      this.getPlayerData();
      this.$forceUpdate();
      window.location.reload();
    },
    connectToServer() {
      console.log("Starting connection to WebSocket Server")
      if (this.webSocketServerURL && this.key) {
        this.connection = new WebSocket(this.webSocketServerURL + "?key=" + this.key)
      }

      if (this.connection) {
        this.connection.addEventListener('error', () => {
          alert('Could not connect to WebSocket server.');
        });

        this.connection.onmessage = function () {
        }

        this.connection.onopen = function () {
          console.log("Successfully connected to websocket server")
        }
      }
    }
  },
  watch: {
    statistics: function(newVal) {
      this.connection.send(JSON.stringify(newVal));
    },
    webSocketServerURL: function () {
      this.connectToServer();
    }
  },
  created: function() {
    this.gameId = localStorage.getItem('gameId');
    this.key = localStorage.getItem('key');
    this.league = localStorage.getItem('league');
    this.webSocketServerURL = localStorage.getItem('webSocketServerURL');

    this.connectToServer();

    this.fetchInitData();
    this.getPlayerData();

    // Fetch data in interval.
    this.interval = setInterval(() => this.fetchMainLiveData(), 15000);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  }
}
</script>

<style>
@import '~bootstrap/dist/css/bootstrap.css';

html {
  font-size: 16px;
}

#app {
  background: white;
}

.text-green {
  color: green;
}

tr:nth-of-type(even) td, tr:nth-of-type(even) th {
  background-color: #efefef;
}

.form-control {
  min-width: 500px;
}
</style>
