<template>
  <div class="logo-wrapper">
    <img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + id"  class="logo">
  </div>
</template>

<script>
export default {
  props: {
    id: String,
  }
}
</script>

<style>
.logo-wrapper {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
}

.logo-wrapper .logo {
  width: 100%;
  height: auto;
}
</style>