<template>
  <div class="kader">
    <table class="table table-bordered">
      <tr>
        <th>Spieler</th>
        <th>Min</th>
        <th>2P</th>
        <th>3P</th>
        <th>FG</th>
        <th>FT</th>
        <th>P</th>
        <th>AS</th>
        <th>R: O-D-T</th>
        <th>F</th>
        <th>BL</th>
        <th>ST</th>
        <th>TO</th>
        <th>EF</th>
      </tr>
      <single-player-statistic-boxscore
          v-for="player in players"
          v-bind:key="player.ID"
          v-bind:name="player.Name"
          v-bind:firstname="player.FirstName"
          v-bind:number="player.Nr"
          v-bind:statind="statind.find(element => (element[0] === player.TC && element[2] === player.Nr))"
      ></single-player-statistic-boxscore>
    </table>
  </div>
</template>

<script>
import SinglePlayerStatisticBoxscore from './SinglePlayerStatisticBoxscore'

export default {
  name: 'Boxscore',
  components: {
    SinglePlayerStatisticBoxscore,
  },
  props: {
    teamName: String,
    players: Array,
    statind: Array,
  },
  data() {
    return {
      data: {},
    }
  },
  computed: {
  },
  methods: {
    sendData: function () {
      let statistics = {};
      statistics.data = {};
      statistics.mode = 'full';
      statistics.type = 'kader';
      statistics.data.name = this.teamName;
      statistics.data.roster = this.players;

      this.$parent.statistics = statistics;
    },
  },
  created() {
  }
}
</script>

<style scoped>
table {
  width: 100%;
  max-width: 100%;
  font-size: 21px;
  margin-top: 20px;
}

th {
  border-bottom: 3px solid #84bd00;
  padding: 15px 15px;
  font-size: 18px;
}

</style>