<template>
  <div class="kader">
    <roster-player-kader
        v-for="player in players"
        v-bind:key="player.ID"
        v-bind:id="player.ID"
        v-bind:name="player.Name"
        v-bind:firstname="player.FirstName"
        v-bind:height="player.Height"
        v-bind:age="player.Age"
        v-bind:position="player.Posshort"
        v-bind:number="player.Nr"
        v-bind:publicPlayerId="player.publicPlayerId"
    ></roster-player-kader>
  </div>
</template>

<script>
import RosterPlayerKader from './RosterPlayerKader'

export default {
  name: 'Kader',
  components: {
    RosterPlayerKader,
  },
  props: {
    teamName: String,
    players: Array,
  },
}
</script>

<style scoped>
.kader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>
