<template>
  <div id="lague-table" class="flex w-100">
    <table>
      <tr>
        <th v-if="league === 'prob-nord'"></th>
        <th></th>
        <th></th>
        <th>Spiele</th>
        <th>Punkte</th>
        <th>Diff.</th>
        <th>Heim</th>
        <th>Gast</th>
        <th>Serie</th>
      </tr>
      <tr v-for="(team, index) in table"
          v-bind:key="team.team_id"
          :class="(team.team_id === teamA.teamId || team.team_id === teamB.teamId) ? 'font-bold text-barmer' : ''"
      >
        <td v-if="index === 0 && league === 'prob-nord'" rowspan="8" class="caption text-center"><div class="text-rotated">Playoffs</div></td>
        <td v-if="index === 8 && league === 'prob-nord'" rowspan="4" class="caption text-center"><div class="text-rotated">Playdowns</div></td>
        <td class="text-right">{{ team.pos }}</td>
        <td class="text-left">{{ team.team_caption }}</td>
        <td class="text-right">{{ team.G }}</td>
        <td class="text-right">{{ team.PKT }}</td>
        <td class="text-right">{{ team.diff }}</td>
        <td class="text-right">{{ team.heim }}</td>
        <td class="text-right">{{ team.gast }}</td>
        <td class="text-right">{{ team.serie }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'LeagueTable',
  props: {
    table: Array,
    teamA: Object,
    teamB: Object,
    league: String,
  },
}
</script>

<style scoped>
h1 {
  margin-bottom: 0;
}

table {
  width: 100%;
  padding: 30px;
  margin-top: 20px;
}

th {
  font-weight: 500;
  text-align: right;
  padding: 1px 15px;
}

td {
  border: solid #84bd00;
  border-width: 1px 0 0;
  padding: 1px 15px;
  font-weight: normal;
}

.font-bold td {
  font-weight: bold;
  background-color: #FFFFFFe6;
}

td.caption {
  background-color: #84bd00;
  color: #fff;
  max-width: 5px;
}

td.caption div {
  writing-mode: vertical-lr;
  -ms-writing-mode: tb-rl;
  transform: rotate(180deg);
  font-size: 15px;
  padding: 0;
}
</style>
