<template>
  <div id="referees">
    <h1>Schiedsrichter</h1>
    <p>
      <span v-text="Name1"></span><br>
      <span v-text="Name2"></span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Referees',
  props: {
    Name1: String,
    Name2: String,
  },
}
</script>
