<template>
  <div class="roster-player-kader">
    <div class="circular center-block"
         :style="'background: #fff url(https://api.2basketballbundesliga.de/pics2/2022_2023/pl/' + publicPlayerId + ');background-size: cover;'">
    </div>
    <p style="line-height: 1.1em; margin-bottom: 1.2em">
      <span style="display:block;height: 1.2em;">#{{ number }} {{ firstname }} {{ name }}</span>
      <br><small>Position: {{ position }}<br>Alter: {{ age }}<span v-if="height"><br>Größe: {{ height }} cm</span></small>
    </p>
  </div>
</template>

<script>
export default {
  name: 'RosterPlayer',
  props: {
    id: String,
    number: String,
    position: String,
    name: String,
    firstname: String,
    age: String,
    height: String,
    publicPlayerId: String,
  },
  computed: {
  }
}
</script>

<style scoped>
.roster-player-kader {
  width: 13%;
  padding: 50px 20px 0;
  font-size: 22px;
}

.roster-player-kader small {
  display: inline-block;
  font-size: 18px;
  text-transform: none;
  text-align: left;
  line-height: 20px;
  margin-top: 10px;
}

.circular {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-position: center;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #84bd00;
}
</style>
