<template>
    <tr class="roster-player">
      <td>#{{ number }} {{ firstname }} {{ name }}</td>
      <td>{{ position }}</td>
      <td>{{ age }}</td>
      <td v-if="height">{{ height }} cm</td>
    </tr>
</template>

<script>
export default {
  name: 'RosterPlayer',
  props: {
    id: String,
    number: String,
    position: String,
    name: String,
    firstname: String,
    age: String,
    height: String,
  },
  computed: {
    publicPlayerId: function () {
      if (this.$parent.playerData['g']) {
        let vm = this;
        const player = this.$parent.playerData['g'].find(player => player.player_id === vm.id)
        return player.id;
      }

      return null;
    },
  }
}
</script>

<style scoped>
th, td {
  padding: 0 0.5rem;
}
</style>
