<template>
  <tr>
    <td>
      #{{ number }} {{ name }}
    </td>
    <td class="text-right">
      {{ statind[21] || 0 }} min
    </td>
    <td>
      {{ statind[7] || 0 }}<span v-if="statind[8]"> - {{ statind[8] || 0 }} - {{ statind[9] || 0 }}&nbsp;%</span>
    </td>
    <td>
      {{ statind[10] || 0 }}<span v-if="statind[11]"> - {{ statind[11] || 0 }} - {{ statind[12] || 0 }}&nbsp;%</span>
    </td>
    <td>
      {{ fg_made }}<span v-if="fg_attemp"> - {{ fg_attemp }} - {{ fg_rate }} %</span>
    </td>
    <td>
      {{ statind[4] || 0 }}<span v-if="statind[5]"> - {{ statind[5] || 0 }} - {{ statind[6] || 0 }}&nbsp;%</span>
    </td>
    <td>
      {{ statind[3] || 0}}
    </td>
    <td>
      {{ statind[15] || 0 }}
    </td>
    <td>
      {{ statind[24] || 0 }}<span v-if="statind[23]"> - {{ statind[23] || 0 }} - {{ statind[14] || 0 }}</span>
    </td>
    <td>
      {{ statind[13] || 0 }}
    </td>
    <td>
      {{ statind[16] || 0 }}
    </td>
    <td>
      {{ statind[17] || 0 }}
    </td>
    <td>
      {{ statind[18] || 0 }}
    </td>
    <td>
      {{ efficiency }}
    </td>
  </tr>
</template>

<script>
export default {
  name: 'SinglePlayerStatisticBoxscore',
  props: {
    id: String,
    number: String,
    name: String,
    statind: {
      type: Array,
      default: function () {
        return ['', '', '', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
      }
    },
    team: String,
  },
  computed: {
    seasonStats: function () {
      let stats = {
        points: 0,
        nationality: '',
        REB_nr: 0,
        time: 0,
        BL_nr: 0,
        ST_nr: 0,
        assists: 0,
        DD: 0,
        TD: 0,
        eff: 0,
      };

      const data = JSON.parse(JSON.stringify(this.$parent.playerData));
      if (data.s) {
        stats = data.s.filter(player => player.player_id === this.id);
        if (stats[0]) {
          stats = stats[0];
        }
      }

      return stats;
    },
    publicPlayerId: function () {
      if (this.$parent.playerData['g']) {
        let vm = this;
        const player = this.$parent.playerData['g'].find(player => player.player_id === vm.id)
        return player.id;
      }

      return null;
    },
    efficiency: function () {
      return ((parseInt(this.statind[3]) || 0) + (parseInt(this.statind[14]) || 0) + (parseInt(this.statind[15]) || 0) + parseInt(this.statind[17] || 0) + (parseInt(this.statind[16] || 0)) )
          - (
              (((parseInt(this.statind[8]) || 0) + (parseInt(this.statind[11]) || 0)) // Anzahl Wurfversuche
              - ((parseInt(this.statind[7]) || 0) + (parseInt(this.statind[10]) || 0)))
              + ((parseInt(this.statind[5]) || 0) - (parseInt(this.statind[4]) || 0))
              + (parseInt(this.statind[18]) || 0)
          );
    },
    fg_attemp: function () {
      if (this.statind[8] && this.statind[11]) {
        return parseInt(this.statind[8]) + parseInt(this.statind[11]);
      }
      return 0;
    },
    fg_made: function () {
      if (this.statind[7] && this.statind[10]) {
        return parseInt(this.statind[7]) + parseInt(this.statind[10]);
      }
      return 0;
    },
    fg_rate: function () {
      if (this.fg_made && this.fg_attemp) {
        return Math.round((this.fg_made / this.fg_attemp) * 100);
      }
      return 0;
    }
  },
  methods: {
  }
}
</script>

<style scoped>
td {
  border-bottom: 1px solid #84bd00;
  padding: 10px 10px;
  text-align: center;
  font-weight: 500;
  text-transform: none;
}

td:first-of-type {
  text-align: left;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

td:nth-of-type(even) {
  background-color: #ffffffef;
}

td:nth-of-type(2) {
  text-align: right;
}

td:nth-of-type(7) {
  font-weight: bold;
}
td:nth-of-type(14) {
  font-weight: bold;
}
</style>
