<template>
  <div class="single-player">
    <div class="image" :style="'background-image: url(https://api.2basketballbundesliga.de/pics2/2022_2023/pc/' + publicPlayerId + ');'">
      <span class="number">#{{ number }}</span>
    </div>
    <h1>{{ firstname }} {{ name }}</h1>
    <table>
      <tr>
        <th colspan="2">
        </th>
      </tr>
      <tr v-if="stats.points !== null">
        <th>Punkte</th>
        <td>{{ stats.points }}</td>
      </tr>
      <tr v-if="stats.p2_rate !== null">
        <th>2<span style="text-transform: lowercase">er</span> Würfe</th>
        <td class="with-progress" v-if="stats.p2_attemp > 0">
          <div class="progress-border">
            <div class="progress-grey" v-bind:style="{ width: stats.p2_rate + '%' }"></div>
          </div>
          {{ stats.p2_made }}/{{ stats.p2_attemp }} ({{ stats.p2_rate + '%' }})
        </td>
      </tr>
      <tr v-if="stats.p3_rate !== null">
        <th>3<span style="text-transform: lowercase">er</span> Würfe</th>
        <td class="with-progress" v-if="stats.p3_attemp > 0">
          <div class="progress-border">
            <div class="progress-grey" v-bind:style="{ width: stats.p3_rate + '%' }"></div>
          </div>
          {{ stats.p3_made }}/{{ stats.p3_attemp }} ({{ stats.p3_rate + '%' }})
        </td>
      </tr>
      <tr v-if="stats.fg_attemp > 0">
        <th>Feldwürfe</th>
        <td class="with-progress">
          <div class="progress-border">
            <div class="progress-grey" v-bind:style="{ width: stats.fg_rate + '%' }"></div>
          </div>
          {{ stats.fg_made }}/{{ stats.fg_attemp }} ({{ stats.fg_rate + '%'}})
        </td>
      </tr>
      <tr v-if="stats.ft_attemp > 0">
        <th>Freiwürfe</th>
        <td class="with-progress">
          <div class="progress-border">
            <div class="progress-grey" v-bind:style="{ width: stats.ft_rate + '%' }"></div>
          </div>
          {{ stats.ft_made }}/{{ stats.ft_attemp }} ({{ stats.ft_rate + '%'}})
        </td>
      </tr>
      <tr v-if="stats.fouls > 0">
        <th>Fouls</th>
        <td>{{ stats.fouls }}</td>
      </tr>
      <tr v-if="stats.rebounds_total > 0">
        <th>Rebounds</th>
        <td>{{ stats.rebounds_total }}
        </td>
      </tr>
      <tr v-if="stats.assists > 0">
        <th>Assists</th>
        <td>{{ stats.assists }}</td>
      </tr>
      <tr v-if="stats.blocks > 0">
        <th>Blocks</th>
        <td>{{ stats.blocks }}</td>
      </tr>
      <tr v-if="stats.steals > 0">
        <th>Steals</th>
        <td>{{ stats.steals }}</td>
      </tr>
      <tr v-if="stats.turnover > 0">
        <th>Turnover</th>
        <td>{{ stats.turnover }}</td>
      </tr>
      <tr v-if="stats.played_time !== null">
        <th>Spielzeit</th>
        <td>{{ stats.played_time }} min</td>
      </tr>
      <tr v-if="stats.age !== null">
        <th>Alter</th>
        <td>{{ stats.age }}</td>
      </tr>
      <tr v-if="stats.position !== null">
        <th>Position</th>
        <td>{{ stats.position }}</td>
      </tr>
      <tr v-if="stats.height !== null && stats.height !== ''">
        <th style="padding-bottom: 1em;">Größe</th>
        <td style="padding-bottom: 1em;">{{ stats.height }} <span style="text-transform: lowercase">cm</span></td>
      </tr>
      <tr v-if="seasonStats && seasonStats.points > 0">
        <th>Ø Punkte</th>
        <td>{{ seasonStats.points.toLocaleString('de-DE') }} </td>
      </tr>
      <tr v-if="seasonStats && seasonStats.assists > 3">
        <th>Ø Assists</th>
        <td>{{ seasonStats.assists.toLocaleString('de-DE') }} </td>
      </tr>
      <tr v-if="seasonStats && seasonStats.BL_nr > 1">
        <th>Ø Blocks</th>
        <td>{{ seasonStats.BL_nr.toLocaleString('de-DE') }} </td>
      </tr>
      <tr v-if="seasonStats && seasonStats.ST_nr > 1">
        <th>Ø Steals</th>
        <td>{{ seasonStats.ST_nr.toLocaleString('de-DE') }} </td>
      </tr>
      <tr v-if="seasonStats && seasonStats.eff > 0">
        <th>Ø Effizienz</th>
        <td>{{ seasonStats.eff.toLocaleString('de-DE') }} </td>
      </tr>
      <tr v-if="seasonStats && seasonStats.time">
        <th>Ø Spielzeit</th>
        <td>{{ seasonStats.time }} min</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'SinglePlayerStatistic',
  props: {
    id: String,
    number: String,
    name: String,
    firstname: String,
    stats: Object,
    team: String,
    publicPlayerId: String,
    seasonStats: Object,
  },
  computed: {
  },
}
</script>

<style scoped>
table {
  width: 100%;
}

tr td:last-child {
  text-align: right;
}

.image {
  position: relative;
  margin: -20px -40px 10px;
  width: 480px;
  height: 300px;
  background-position: top center;
}

.image .number {
  position: absolute;
  right: 30px;
  top: 20px;
  color: #000;
  font-size: .7rem;
}

.progress-border {
  border: solid 1px #fff;
  display: inline-block;
  width: 100px;
  margin: 6px;
}

.progress-grey {
  background-color: #fff;
  height: 100%;
}

td.with-progress {
  display: flex;
  justify-content: space-between;
}
</style>
