<template>
  <div id="spieltag" v-if="game" :data-league="game.leagueIdentifier">
    <ul>
      <li v-for="game in games"
          v-bind:key="game.game_id"
      >
        <table>
          <tr>
            <th colspan="3">
              <span v-if="game.datetime">{{ formatDate(game.datetime) }} Uhr</span>
              <em v-if="!game.datetime" style="font-size: smaller">Termin unbekannt</em>
            </th>
          </tr>
          <tr>
            <td><img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + game.homeId"></td>
            <td class="spielplan-score" :class="game.live ? 'text-green' : ''">
              {{ game.hPoints || '-' }} : {{ game.gPoints || '-' }}
              <span v-if="game.live" v-text="game.q" style="font-size: .6em"></span>
            </td>
            <td><img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + game.guestId"></td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Spieltag',
  props: {
    game: Object,
  },
  data() {
    return {
      data: null,
      liveData: null,
      interval: null,
      currentGames: {},
    }
  },
  computed: {
    round: function () {
      if (this.data && this.game) {
        const game_id = this.game.gameId;
        const data = JSON.parse(JSON.stringify(this.data))
        let all_games = Object.entries(data).filter(function (games) {
          if (games['1'] instanceof Array) {
            let test = games['1'].filter(game => game.id === game_id);
            return (test.length === 1);
          }
          return false;
        })

        if (all_games.length === 1) {
          return all_games[0][0];
        }
      }
      return '';
    },
    games: function () {
      let current_games = {};
      if (this.round && this.data[this.round]) {
        this.data[this.round].forEach(function (item) {
          if (item.guestId !== '0' && item.homeId !== '0') {
            current_games[item.id] = item;
          }
        });
      }
      return current_games;
    }
  },
  methods: {
    fetchData() {
      let vm = this;
      axios
        .get('https://api.2basketballbundesliga.de/spielplan/' + vm.game.leagueIdentifier + '/2022-2023/?t=' + new Date().getTime())
        .then(function(response) {
          vm.data = response.data;
          let current_games = {};
          if (vm.round && response.data[vm.round]) {
            response.data[vm.round].forEach(function (item) {
              current_games[item.id] = item;
            });
          }
          vm.currentGames = current_games;
        })
    },
    formatDate(date) {
      const current_date = new Date(date * 1000);
      return new Intl.DateTimeFormat('de-DE', {
        weekday: 'short',
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
      }).format(current_date);
    },
    getLiveData() {
      let vm = this;
      axios
        .get('https://api.2basketballbundesliga.de/gamesLive/?t=' + new Date().getTime())
        .then(response => vm.liveData = response.data)
    }
  },
  watch: {
    liveData: function (newValue) {
      if (newValue.length > 0) {
        let vm = this;
        newValue.forEach(function (game) {
          if (vm.currentGames[game.g]) {
            vm.currentGames[game.g].q = game.q;
            if (game.q !== 'Q0' && game.q !== 'E') {
              vm.currentGames[game.g].live = true;
            }
            vm.currentGames[game.g].hPoints = game.p1;
            vm.currentGames[game.g].gPoints = game.p2;
          }
        });
      }
    },
    league: function () {
      this.fetchData();
    }
  },
  created() {
    this.fetchData();
    this.getLiveData();

    // Fetch data in interval.
    this.interval = setInterval(() => this.getLiveData(), 15000);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  }
}
</script>

<style scoped>
ul {
  column-count: 2;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
  break-inside: avoid;
}

table {
  break-inside: avoid;
  width: 100%;
  background-color: #FFFFFFe6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

th {
  font-size: 23px;
  padding-top: 20px;
  font-weight: 500;
}

td {
  padding-top: 0;
}

td:nth-of-type(1), td:nth-of-type(3) {
  width: 35%;
}

td.spielplan-score {
  font-size: 55px;
  font-weight: normal;
}

img {
  max-width: 130px;
  max-height: 120px;
}
.headline {
  margin-bottom: 0;
}

.text-green {
  color: #84bd00;
}

[data-league|="prob"] ul {
  padding-top: 1rem;
}
</style>
