<template>
  <div id="spielplan-prob-nord" class="w-50">
    <div style="display: flex">
      <ul>
        <li>
          <h3 v-if="$parent.barmer_api_init_data">{{ $parent.barmer_api_init_data.teamA.caption }}</h3>
        </li>
        <li v-for="game in home" v-bind:key="game.id">
          <table>
            <tr>
              <td><img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + game.homeId"></td>
              <td class="spielplan-date">
                {{ dateHuman(game.datetime) }} Uhr
              </td>
              <td><img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + game.guestId"></td>
            </tr>
          </table>
        </li>
      </ul>
      <ul>
        <li>
          <h3 v-if="$parent.barmer_api_init_data">{{ $parent.barmer_api_init_data.teamB.caption }}</h3>
        </li>
        <li v-for="game in guest" v-bind:key="game.id">
          <table>
            <tr>
              <td><img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + game.homeId"></td>
              <td class="spielplan-date">
                {{ dateHuman(game.datetime) }} Uhr
              </td>
              <td><img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + game.guestId"></td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SpielplanNext',
  props: {
    home: Array,
    guest: Array,
  },
  methods: {
    dateHuman: function (value) {
      const date = new Date(value * 1000);
      return new Intl.DateTimeFormat('de-DE', {
        weekday: 'long',
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
      }).format(date);
    }
  },
}
</script>

<style scoped>
h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

ul {
  width: 50%;
  padding: 0;
  list-style-type: none;
}

ul:first-of-type {
  border-right: 2px solid #84bd00;
}

li {
  margin-bottom: 2em;
  padding: 0 100px;
}

li:last-of-type {
  margin-bottom: 0;
}

table {
  width: 100%;
}

th {
  text-transform: none;
}

td {
  width: 150px;
  white-space: normal;
}

td img {
  height: 120px;
  max-width: 150px;
}

td.spielplan-date {
  width: 140px;
  text-align: center;
  padding: 0 40px;
  text-transform: none;
}
</style>
