<template>
  <div id="spielplan-last" class="w-50">
    <div style="display: flex">
      <ul>
        <li>
          <h3 v-if="$parent.teamA">{{ $parent.teamA.name }}</h3>
        </li>
        <li v-for="game in home" v-bind:key="game.id">
          <table>
            <tr>
              <td><img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + game.homeId"></td>
              <td class="spielplan-score" :class="game.live ? 'text-green' : ''">
                <span v-if="game.live" v-text="game.q" style="display: block;"></span>
                {{ game.hPoints }} : {{ game.gPoints }}
              </td>
              <td><img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + game.guestId"></td>
            </tr>
          </table>
        </li>
      </ul>

      <ul>
        <li>
          <h3 v-if="$parent.teamB">{{ $parent.teamB.name }}</h3>
        </li>
        <li v-for="game in guest" v-bind:key="game.id">
          <table>
            <tr>
              <td><img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + game.homeId"></td>
              <td class="spielplan-score" :class="game.live ? 'text-green' : ''">
                <span v-if="game.live" v-text="game.q" style="display: block;"></span>
                {{ game.hPoints || '-' }} : {{ game.gPoints || '-' }}
              </td>
              <td><img :src="'https://api.2basketballbundesliga.de/pics2/2022_2023/lo/' + game.guestId"></td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SpielplanLast',
  props: {
    home: Array,
    guest: Array,
  },
}
</script>

<style scoped>
h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

ul {
  width: 50%;
  padding: 0;
  list-style-type: none;
}

ul:first-of-type {
  border-right: 2px solid #84bd00;
}

li {
  margin-bottom: 2em;
  padding: 0 100px;
}

table {
  width: 100%;
}

th {
  text-transform: none;
}

td img {
  height: 120px;
  max-width: 150px;
}

td {
  width: 200px;
}

td.spielplan-score {
  font-size: 50px;
  width: 220px;
  text-align: center;
}
</style>
