<template>
  <div id="starting-five" class="message-full-flex">
    <logo :id="homeID"></logo>
    <div style="display: flex;justify-content: center">
      <table class="table">
        <tr
            v-for="player in startingFiveA"
            v-bind:key="player.ID"
        >

          <td class="text-right">#{{ player.Nr }} {{ player.FirstName.substring(0, player.FirstName.indexOf(' ') > 0 ? player.FirstName.indexOf(' ') : player.FirstName.length ) }} {{ player.Name }}</td>
          <td class="image">
            <div class="circular center-block" :style="'background: #fff url(https://api.2basketballbundesliga.de/pics2/2022_2023/pl/' + player.publicPlayerId + ');background-size: contain;'"></div>
          </td>
        </tr>
      </table>
      <table>
        <tr
            v-for="player in startingFiveB"
            v-bind:key="player.ID"
        >
          <td class="image">
            <div class="circular center-block" :style="'background: #fff url(https://api.2basketballbundesliga.de/pics2/2022_2023/pl/' + player.publicPlayerId + ');background-size: contain;'"></div>
          </td>
          <td class="text-left">#{{ player.Nr }} {{ player.FirstName.substring(0, player.FirstName.indexOf(' ') > 0 ? player.FirstName.indexOf(' ') : player.FirstName.length ) }} {{ player.Name }}</td>

        </tr>
      </table>
    </div>
    <logo :id="guestID"></logo>
  </div>
</template>

<script>
import logo from './_logo';

export default {
  name: 'StartingFive',
  components: {
    logo,
  },
  props: {
    teamA: String,
    teamB: String,
    homeID: String,
    guestID: String,
    startingFiveA: Array,
    startingFiveB: Array,
    publicPlayerId: String,
  },
}
</script>

<style scoped>

table {
  /*background-color: #ffffffef;*/
  margin: 0 20px;
  padding: 0 20px;
}

th {
  font-family: 'Vincent', sans-serif;
  font-size: 40px;
  padding-bottom: .5em;
}

td {
  text-align: left;
}

.circular {
  height: 80px;
  width: 80px;
  margin: 15px 25px;
  border-radius: 50%;
  border: 1px solid #84bd00;
}

.text-right {
  text-align: right;
}

h1 {
  margin-top: 0.4em;
}
</style>
