<template>
  <div id="team-statistics" v-if="teamA && teamB" class="message-full-flex">
    <logo :id="teamA.teamId"></logo>
    <div style="flex-grow: 1">
      <table>
        <tr>
          <td class="text-right" style="font-size: 50px">{{ teamA['current_' + current + '_points'] }}</td>
          <th class="text-center text-uppercase" valign="bottom">Punkte</th>
          <td style="font-size: 50px;">{{ teamB['current_' + current + '_points'] }}</td>
        </tr>
        <tr>
          <td>{{ teamA['current_' + current + '_rebounds_total'] }} (O: {{ teamA['current_' + current + '_rebounds_offensive'] }}/D: {{ teamA['current_' + current + '_rebounds_defensive'] }})</td>
          <th>Rebounds</th>
          <td>{{ teamB['current_' + current + '_rebounds_total'] }} (O: {{ teamB['current_' + current + '_rebounds_offensive'] }}/D: {{ teamB['current_' + current + '_rebounds_defensive'] }})</td>
        </tr>
        <tr>
          <td>{{ teamA['current_' + current + '_assists'] }}</td>
          <th>Assists</th>
          <td>{{ teamB['current_' + current + '_assists'] }}</td>
        </tr>
        <tr>
          <td>{{ teamA['current_' + current + '_blocks'] }}</td>
          <th>Blocks</th>
          <td>{{ teamB['current_' + current + '_blocks'] }}</td>
        </tr>
        <tr>
          <td>{{ teamA['current_' + current + '_steals'] }}</td>
          <th>Steals</th>
          <td>{{ teamB['current_' + current + '_steals'] }}</td>
        </tr>
        <tr>
          <td>{{ teamA['current_' + current + '_turnover'] }}</td>
          <th>Turnover</th>
          <td>{{ teamB['current_' + current + '_turnover'] }}</td>
        </tr>
        <tr>
          <td>{{ teamA['current_' + current + '_fouls'] }}</td>
          <th>Fouls</th>
          <td>{{ teamB['current_' + current + '_fouls'] }}</td>
        </tr>
        <tr>
          <td style="padding-top: .75rem">
            {{ teamA['current_' + current + '_p2_made'] }}/{{ teamA['current_' + current + '_p2_attempts'] }} ({{ teamA['current_' + current + '_p2_rate'] }} %)
            <div class="progress-border">
              <div class="progress-grey" v-bind:style="{ width: teamA['current_' + current + '_p2_rate'] + '%' }"></div>
            </div>
          </td>
          <th style="padding-top: .75rem">2er Würfe</th>
          <td style="padding-top: .75rem">
            {{ teamB['current_' + current + '_p2_made'] }}/{{ teamB['current_' + current + '_p2_attempts'] }} ({{ teamB['current_' + current + '_p2_rate'] }} %)
            <div class="progress-border">
              <div class="progress-grey" v-bind:style="{ width: teamB['current_' + current + '_p2_rate'] + '%' }"></div>
            </div></td>
        </tr>
        <tr>
          <td>
            {{ teamA['current_' + current + '_p3_made'] }}/{{ teamA['current_' + current + '_p3_attempts'] }} ({{ teamA['current_' + current + '_p3_rate'] }} %)
            <div class="progress-border">
              <div class="progress-grey" v-bind:style="{ width: teamA['current_' + current + '_p3_rate'] + '%' }"></div>
            </div>
          </td>
          <th>3er Würfe</th>
          <td>
            {{ teamB['current_' + current + '_p3_made'] }}/{{ teamB['current_' + current + '_p3_attempts'] }} ({{ teamB['current_' + current + '_p3_rate'] }} %)
            <div class="progress-border">
              <div class="progress-grey" v-bind:style="{ width: teamB['current_' + current + '_p3_rate'] + '%' }"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            {{ teamA['current_' + current + '_fg_made'] }}/{{ teamA['current_' + current + '_fg_attempts'] }} ({{ teamA['current_' + current + '_fg_rate'] }} %)
            <div class="progress-border">
              <div class="progress-grey" v-bind:style="{ width: teamA['current_' + current + '_fg_rate'] + '%' }"></div>
            </div>
          </td>
          <th>Feldwürfe</th>
          <td>
            {{ teamB['current_' + current + '_fg_made'] }}/{{ teamB['current_' + current + '_fg_attempts'] }} ({{ teamB['current_' + current + '_fg_rate'] }} %)
            <div class="progress-border">
              <div class="progress-grey" v-bind:style="{ width: teamB['current_' + current + '_fg_rate'] + '%' }"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            {{ teamA['current_' + current + '_ft_made'] }}/{{ teamA['current_' + current + '_ft_attempts'] }} ({{ teamA['current_' + current + '_ft_rate'] }} %)
            <div class="progress-border">
              <div class="progress-grey" v-bind:style="{ width: teamA['current_' + current + '_ft_rate'] + '%' }"></div>
            </div>
          </td>
          <th>Freiwürfe</th>
          <td>
            {{ teamB['current_' + current + '_ft_made'] }}/{{ teamB['current_' + current + '_ft_attempts'] }} ({{ teamB['current_' + current + '_ft_rate'] }} %)
            <div class="progress-border">
              <div class="progress-grey" v-bind:style="{ width: teamB['current_' + current + '_ft_rate'] + '%' }"></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <logo :id="teamB.teamId"></logo>
  </div>
</template>

<script>
import logo from './_logo';

export default {
  name: 'TeamStatistics',
  components: {
    logo,
  },
  props: {
    current: String,
    currentPeriod: String,
    teamA: Object,
    teamB: Object,
  },
}
</script>

<style scoped>
table {
  margin: 0 auto;
}

th {
  padding: 5px 50px;
}

table td:first-child {
  text-align: right;
}

table td:last-child {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

table td:last-child .progress-border {
  height: 1em;
}
</style>
