<template>
  <div id="app" v-bind:class="[message ? 'md-show-' + message.mode : '', background_color === 'transparent' ? 'background-transparent' : '']" v-bind:style="{ 'background-color': background_color }">
    <div class="animated-headline">
      <h1 v-text="message ? message.headline : ''"></h1>
      <h2 v-text="message ? message.headline2 : ''"></h2>
    </div>
    <div class="message-wrapper">
      <transition name="message">
        <div v-if="message && message.mode === 'full'" class="message">
          <team-statistics
              v-bind:current=message.current
              v-bind:currentPeriod="message.data.currentPeriod"
              v-bind:teamA="message.data.teamA"
              v-bind:teamB="message.data.teamB"
              v-bind:scoreHome="message.data.scoreHome"
              v-bind:scoreGuest="message.data.scoreGuest"
              v-bind:statteam="message.data.statteam"
              v-bind:statsHome="message.data.statsHome"
              v-bind:statsGuest="message.data.statsGuest"
              v-bind:homeID="message.data.homeID"
              v-bind:guestID="message.data.guestID"
              v-if="message.type === 'team_statistics_current'"
          ></team-statistics>
          <starting-five
              v-bind:teamA="message.data.teamA"
              v-bind:teamB="message.data.teamB"
              v-bind:playersA="message.data.playersA"
              v-bind:playersB="message.data.playersB"
              v-bind:startingFiveA="message.data.startingFiveA"
              v-bind:startingFiveB="message.data.startingFiveB"
              v-bind:homeID="message.data.homeID"
              v-bind:guestID="message.data.guestID"
              v-if="message.type === 'starting_five'"
          ></starting-five>
          <league-table
              v-bind:table="message.data.table"
              v-bind:teamB="message.data.teamA"
              v-bind:teamA="message.data.teamB"
              v-bind:league="message.data.league"
              v-if="message.type === 'league_table'"
          ></league-table>
          <spielplan-last
              v-bind:home="message.data.home"
              v-bind:guest="message.data.guest"
              v-if="message.type === 'last_games'"
          ></spielplan-last>
          <spielplan-next
              v-bind:home="message.data.home"
              v-bind:guest="message.data.guest"
              v-if="message.type === 'next_games'"
          ></spielplan-next>
          <spieltag
              v-bind:game="message.data.game"
              v-bind:league="message.data.league"
              v-if="message.type === 'spieltag'"
          ></spieltag>
          <kader
              v-bind:teamName="message.data.name"
              v-bind:players="message.data.roster"
              v-bind:statind="message.data.statind"
              v-if="message.type === 'kader'"
          ></kader>
          <boxscore
              v-bind:teamName="message.data.name"
              v-bind:players="message.data.roster"
              v-bind:statind="message.data.statind"
              v-if="message.type === 'boxscore'"
          ></boxscore>
        </div>
      </transition>
    </div>
    <div class="single-card-wrapper">
      <transition name="single-card">
        <div v-if="message && message.mode === 'single-card'" class="single-card">
          <referees
              v-bind:Name1="message.Name1"
              v-bind:Name2="message.Name2"
              v-if="message.type === 'referees'"
          ></referees>
          <single-player-statistic
              v-if="message.type === 'player'"
              :key="message.data.ID"
              v-bind:id="message.data.ID"
              v-bind:firstname="message.data.firstname"
              v-bind:name="message.data.name"
              v-bind:number="message.data.number"
              v-bind:stats="message.data.stats"
              v-bind:publicPlayerId="message.data.publicPlayerId"
              v-bind:seasonStats="message.data.seasonStats"
          ></single-player-statistic>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import TeamStatistics from "../../components/display/TeamStatistics";
import StartingFive from "../../components/display/StartingFive";
import Referees from "../../components/display/Referees";
import SinglePlayerStatistic from "../../components/display/SinglePlayerStatistic";
import LeagueTable from "../../components/display/LeagueTable";
import SpielplanLast from "../../components/display/SpielplanLast";
import SpielplanNext from "../../components/display/SpielplanNext";
import Spieltag from "../../components/display/Spieltag";
import Kader from "../../components/display/Kader";
import Boxscore from "../../components/display/Boxscore";

export default {
  name: 'App',
  components: {
    Boxscore,
    TeamStatistics,
    StartingFive,
    Referees,
    SinglePlayerStatistic,
    LeagueTable,
    SpielplanLast,
    SpielplanNext,
    Spieltag,
    Kader,
  },
  data: function() {
    return {
      connection: null,
      background_color: new URL(location.href).searchParams.get('background-color'),
      message: null,
      api_init_data: {},
      key: null,
      webSocketServerURL: null,
    }
  },
  methods: {
    setData(data) {
      this.message = data.message;
    },
  },
  created: function() {
    const vm = this;
    // URL Params.
    let uri = window.location.search.substring(1);
    let params = new URLSearchParams(uri);
    this.webSocketServerURL = new URL(location.href).searchParams.get('server');
    this.key = new URL(location.href).searchParams.get('key');

    console.log("Starting connection to WebSocket Server 2")

    if (this.webSocketServerURL && this.key) {
      this.connection = new WebSocket('wss://' + this.webSocketServerURL + '?key=' + this.key);
    }

    console.log(this.connection);

    this.connection.onmessage = function (event) {
      console.log(JSON.parse(event.data));
      vm.setData(JSON.parse(event.data));
    }

    this.connection.onopen = function (event) {
      console.log(event)
      console.log("Successfully connected to the echo websocket server...")
    }

    const color = params.get("color");
    if (color) {
      this.background_color = '#' + color;
    }
  },
}
</script>

<style>
@import "../../assets/css/display.css";
@import "../../assets/css/transitions.css";

:root {
  --bs-body-bg: transparent !important;
}
</style>
