<template>
  <div id="basic-info" style="width: 100%;">
    <div class="row">
        <div class="fw-bold col">{{ game.round }}</div>
        <div class="fw-bold col">{{ game.date }}</div>
        <div class="fw-bold col-3">{{ teamA.name }}</div>
        <div class="fw-bold col-3">{{ teamB.name }}</div>
        <div class="fw-bold col">{{ game.currentPeriod }}</div>
        <div class="fw-bold col">{{ teamA.current_game_points }}:{{ teamB.current_game_points }}</div>
        <div class="fw-bold col-3">Letzte Aktualisierung: {{ lastActionDate }} Uhr<br>Letzer Abruf: {{ lastFetch }} Uhr</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BasicInfo',
  props: {
    game: Object,
    round: String,
    date: String,
    teamA: Object,
    teamB: Object,
    lastActionDate: String,
    lastFetch: String,
  },
  methods: {
    sendData: function () {
      this.$parent.sendMessageToScoreboard();
    },
    clearData: function () {
      this.$parent.clearMessagesOfScoreboard();
    }
  },
}
</script>
