<template>
  <div class="kader">
    <table class="table table-bordered">
      <tr>
        <th>Spieler</th>
        <th>Min</th>
        <th>2P-A-R</th>
        <th>3P-A-R</th>
        <th>FG-A-R</th>
        <th>FT-A-R</th>
        <th>P</th>
        <th>AS</th>
        <th>R: O-D-T</th>
        <th>F</th>
        <th>BL</th>
        <th>ST</th>
        <th>TO</th>
        <th>EF</th>
      </tr>
      <single-player-statistic-boxscore
          v-for="player in players"
          v-bind:key="player.ID"
          v-bind:name="player.Name"
          v-bind:firstname="player.FirstName"
          v-bind:number="player.Nr"
          v-bind:statind="statind.find(element => (element[0] === player.TC && element[2] === player.Nr))"
      ></single-player-statistic-boxscore>
    </table>
    <button v-on:click="sendData" type="button" class="btn btn-primary">Zeige Boxscore {{ teamName }}</button>
  </div>
</template>

<script>
import SinglePlayerStatisticBoxscore from './SinglePlayerStatisticBoxscore'

export default {
  name: 'Boxscore',
  components: {
    SinglePlayerStatisticBoxscore,
  },
  props: {
    teamName: String,
    players: Array,
    statind: Array,
  },
  data() {
    return {
      data: {},
    }
  },
  computed: {
  },
  methods: {
    sendData: function () {
      let statistics = {};
      statistics.data = {};
      statistics.mode = 'full';
      statistics.type = 'boxscore';
      statistics.headline = 'Boxscore';
      statistics.headline2 = this.teamName;
      statistics.data.name = this.teamName;
      statistics.data.roster = this.players;
      statistics.data.statind = this.statind;

      this.$parent.statistics = statistics;
    },
  },
  created() {
  }
}
</script>

<style scoped>
td {
  padding: 0 20px;
}
</style>
