<template>
  <div id="spielplan-prob-nord" class="">
    <table class="table table-bordered">
      <tr>
        <th>Datum</th>
        <th>Teams</th>
        <th>Ergebnis</th>
      </tr>
      <tr v-for="game in games" v-bind:key="game.id">
        <td class="">{{ game.date_human }} Uhr</td>
        <td>
          <span class="fw-bold" v-if="teamId === game.homeId">{{ game.hletter }}</span><span v-if="teamId !== game.homeId">{{ game.home }}</span> -
          <span class="fw-bold" v-if="teamId === game.guestId">{{ game.gletter }}</span><span v-if="teamId !== game.guestId">{{ game.guest }}</span>
        </td>
        <td v-if="game.hPoints">{{ game.hPoints }}:{{ game.gPoints }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'GameTable',
  props: {
    teamId: String,
    games: Array,
  },
  computed: {
  },
  methods: {
  },
  created() {
  }
}
</script>
