<template>
  <div class="kader">
    <table class="table table-bordered">
      <tr>
        <th colspan="4" class="text-center">{{ teamName }}</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Alter</th>
        <th>Größe</th>
      </tr>
      <roster-player
          v-for="player in players"
          v-bind:key="player.ID"
          v-bind:id="player.ID"
          v-bind:name="player.Name"
          v-bind:firstname="player.FirstName"
          v-bind:height="player.Height"
          v-bind:age="player.Age"
          v-bind:position="player.Posshort"
          v-bind:number="player.Nr"
      ></roster-player>
    </table>
    <button v-on:click="sendData" type="button" class="btn btn-primary">Zeige Kader</button>
  </div>
</template>

<script>
import RosterPlayer from './RosterPlayer'

export default {
  name: 'Kader',
  components: {
    RosterPlayer,
  },
  props: {
    teamName: String,
    players: Array,
  },
  data() {
    return {
      data: {},
    }
  },
  computed: {
  },
  methods: {
    sendData: function () {
      let vm = this;
      let statistics = {};
      statistics.data = {};
      statistics.mode = 'full';
      statistics.type = 'kader';
      statistics.headline = 'Kader';
      statistics.headline2 = this.teamName;
      statistics.data.name = this.teamName;
      statistics.data.roster = [];

      this.players.forEach(function (player) {
        const player_stat = vm.$parent.playerData['g'].find(stats_player => stats_player.player_id === player.ID)
        player.publicPlayerId = player_stat.id;
        statistics.data.roster.push(player);
      })

      this.$parent.statistics = statistics;
    },
  },
  created() {
  }
}
</script>

<style scoped>
td {
  padding: 0 20px;
}
</style>
