<template>
  <div id="league-table" class="row my-5">
    <h2 v-html="league === 'proa' ? 'Tabelle ProA' : league === 'prob-nord' ? 'Tabelle ProB Nord' : 'Tabelle ProB Süd'"></h2>
    <table class="table table-bordered">
      <tr>
        <th>#</th>
        <th class="text-start">Team</th>
        <th>G</th>
        <th>S</th>
        <th>N</th>
        <th>PKT</th>
        <th>+</th>
        <th>-</th>
        <th>Diff.</th>
        <th>Heim</th>
        <th>Gast</th>
        <th>Last 10</th>
        <th>Serie</th>
      </tr>
      <tr v-for="team in table"
          v-bind:key="team.team_id"
          :class="(Object.keys($parent.teams).length > 0 && (team.team_id === $parent.teams.teamA.teamId || team.team_id === $parent.teams.teamB.teamId)) ? 'fw-bold' : ''"
      >
        <td>{{ team.pos }}</td>
        <td>{{ team.team_caption }}</td>
        <td>{{ team.G }}</td>
        <td>{{ team.S }}</td>
        <td>{{ team.N }}</td>
        <td>{{ team.PKT }}</td>
        <td>{{ team.plus }}</td>
        <td>{{ team.minus }}</td>
        <td>{{ team.diff }}</td>
        <td>{{ team.heim }}</td>
        <td>{{ team.gast }}</td>
        <td>{{ team.last10 }}</td>
        <td>{{ team.serie }}</td>
      </tr>
    </table>
    <div>
      <button v-on:click="sendTabelleProBNord" type="button" class="btn btn-primary">Zeige Tabelle</button>
      <button v-on:click="fetchTableData" type="button" class="btn btn-primary mx-1">🔃</button>
      Stand: {{ last_update }}
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'LeagueTable',
  props: {
    league: String,
  },
  data() {
    return {
      table: {},
      last_update: null,
    }
  },
  computed: {
  },
  methods: {
    setTableData(data) {
      if (data) {
        this.last_update = data.data.last_update;
        if (data.table !== undefined) {
          this.table = data.table;
          return;
        }
      }

      this.table = [];
    },
    sendTabelleProBNord: function () {
      let statistics = {};
      statistics.data = {};
      statistics.mode = 'full';
      statistics.type = 'league_table';
      statistics.headline = 'Tabelle ' + this.$parent.game.league;
      statistics.data.table = this.table;
      statistics.data.league = this.league;
      statistics.data.teamA = this.$parent.teams.teamA;
      statistics.data.teamB = this.$parent.teams.teamB;

      this.$parent.statistics = statistics;
    },
    fetchTableData() {
      let vm = this;
      console.log('https://api.2basketballbundesliga.de/tabelle_' + this.league + '/' + '?t=' + new Date().getTime())
      axios
          .get('https://api.2basketballbundesliga.de/tabelle_' + this.league + '/' + '?t=' + new Date().getTime())
          .then(response => vm.setTableData(response.data))
    }
  },
  created() {
    this.fetchTableData();
  },
  watch: {
    league: function () {
      this.fetchTableData();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
th:not(td:nth-of-type(2)) {
  text-align: right;
}
td:not(td:nth-of-type(2)) {
  text-align: right;
}
</style>
