<template>
  <div id="referees">
    <div class="row">
      <p v-text="Name1" class="col-2"></p>
      <p v-text="Name2" class="col-2"></p>
    </div>
    <button v-on:click="sendReferees" type="button" class="btn btn-primary">Zeige Referees</button>
  </div>
</template>

<script>
export default {
  name: 'Referees',
  props: {
    Name1: String,
    Name2: String,
  },
  methods: {
    sendReferees: function () {
      let refs = {};

      refs.mode = 'single-card';
      refs.type = 'referees';
      refs.Name1 = this.Name1.replace(' ', ', ');
      refs.Name2 = this.Name2.replace(' ', ', ');

      this.$parent.statistics = refs;
    }
  }
}
</script>
