<template>
  <tr>
    <td>
      #{{ number }} {{ firstname }} {{ name }}
    </td>
    <td>
      {{ statind[21] || 0 }} min
    </td>
    <td>
      {{ statind[7] || 0 }} - {{ statind[8] || 0 }} - {{ statind[9] || 0 }}&nbsp;%
    </td>
    <td>
      {{ statind[10] || 0 }} - {{ statind[11] || 0 }} - {{ statind[12] || 0 }}&nbsp;%
    </td>
    <td>
      {{ fg_made }} - {{ fg_attemp }} - {{ fg_rate }} %
    </td>
    <td>
      {{ statind[4] || 0 }} - {{ statind[5] || 0 }} - {{ statind[6] || 0 }}&nbsp;%
    </td>
    <td>
      {{ statind[3] || 0}}
    </td>
    <td>
      {{ statind[15] || 0 }}
    </td>
    <td>
      {{ statind[24] || 0 }} - {{ statind[23] || 0 }} - {{ statind[14] || 0 }}
    </td>
    <td>
      {{ statind[13] || 0 }}
    </td>
    <td>
      {{ statind[16] || 0 }}
    </td>
    <td>
      {{ statind[17] || 0 }}
    </td>
    <td>
      {{ statind[18] || 0 }}
    </td>
    <td>
      {{ efficiency }}
    </td>
  </tr>
</template>

<script>
export default {
  name: 'SinglePlayerStatisticBoxscore',
  props: {
    id: String,
    number: String,
    name: String,
    firstname: String,
    statind: {
      type: Array,
      default: function () {
        return ['', '', '', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
      }
    },
    team: String,
  },
  computed: {
    efficiency: function () {
      return ((parseInt(this.statind[3]) || 0) + (parseInt(this.statind[14]) || 0) + (parseInt(this.statind[15]) || 0) + parseInt(this.statind[17] || 0) + (parseInt(this.statind[16] || 0)) )
          - (
              (((parseInt(this.statind[8]) || 0) + (parseInt(this.statind[11]) || 0)) // Anzahl Wurfversuche
              - ((parseInt(this.statind[7]) || 0) + (parseInt(this.statind[10]) || 0)))
              + ((parseInt(this.statind[5]) || 0) - (parseInt(this.statind[4]) || 0))
              + (parseInt(this.statind[18]) || 0)
          );
    },
    fg_attemp: function () {
      if (this.statind[8] && this.statind[11]) {
        return parseInt(this.statind[8]) + parseInt(this.statind[11]);
      }
      return 0;
    },
    fg_made: function () {
      if (this.statind[7] && this.statind[10]) {
        return parseInt(this.statind[7]) + parseInt(this.statind[10]);
      }
      return 0;
    },
    fg_rate: function () {
      if (this.fg_made && this.fg_attemp) {
        return Math.round((this.fg_made / this.fg_attemp) * 100);
      }
      return 0;
    }
  },
  methods: {
  }
}
</script>
