<template>
  <div class="col-sm-3 mb-3">
    <div class="single-player single-card">
    <div class="single-card-body">
      <h3 class="my-3">#{{ number }} {{ firstname }} {{ name }}</h3>
      <button v-on:click="sendPlayer('C')" type="button" class="btn btn-primary my-3 mx-3" style="float: right">📺</button>
      <div style="display: flex;">
        <ul style="min-width: 30%;list-style-type: none;margin: 0;padding: 0">
          <li>Alter: {{ age }} </li>
          <li>Position: {{ position }} </li>
          <li>Größe: {{ height }} cm</li>
        </ul>
        <ul style="min-width: 30%;list-style-type: none;">
          <li v-if="seasonStats.points" :class="seasonStats.points < 5 ? 'text-gray' : ''">Ø Punkte: {{ seasonStats.points.toLocaleString('de-DE') }} </li>
          <li :class="seasonStats.assists < 3 ? 'text-gray': ''" v-if="seasonStats.assists > 0">Ø Assists: {{ seasonStats.assists.toLocaleString('de-DE') }} </li>
          <li :class="seasonStats.BL_nr < 1 ? 'text-gray': ''" v-if="seasonStats.blocks > 0">Ø Blocks: {{ seasonStats.BL_nr.toLocaleString('de-DE') }} </li>
          <li :class="seasonStats.ST_nr < 1 ? 'text-gray': ''" v-if="seasonStats.ST_nr > 0">Ø Steals: {{ seasonStats.ST_nr.toLocaleString('de-DE') }} </li>
          <li :class="seasonStats.eff < 0 ? 'text-gray': ''" v-if="seasonStats.eff">Ø Effizienz: {{ seasonStats.eff.toLocaleString('de-DE') }} </li>
          <li v-if="seasonStats.time">Ø Spielzeit: {{ seasonStats.time }} min</li>
        </ul>
      </div>
      <table class="table table-bordered mt-4">
        <tr>
          <th colspan="2" class="text-center text-capitalize">
            Scoring
          </th>
          <th colspan="2" class="border-left text-center text-capitalize">
            Stats
          </th>
        </tr>
        <tr>
          <th>Punkte</th>
          <td>{{ statind[3] }}</td>

          <th :class="statind[13] ? '' : 'gray'" class="border-left">Fouls</th>
          <td :class="statind[13] ? '' : 'gray'">{{ statind[13] || 0 }}</td>
        </tr>
        <tr>
          <th :class="statind[5] ? '' : 'gray'">Freiwürfe</th>
          <td :class="statind[5] ? '' : 'gray'">{{ statind[4] || 0 }}/{{ statind[5] || 0 }} ({{ statind[6] || 0 }}&nbsp;%)</td>

          <th :class="statind[14] ? '' : 'gray'" class="border-left">Rebounds</th>
          <td :class="statind[14] ? '' : 'gray'">{{ statind[14] || 0 }}
            <!--          (D {{ statind[23] }}/O {{ statind[24] }}-->
          </td>
        </tr>
        <tr>
          <th :class="statind[8] ? '' : 'gray'">2-P Würfe</th>
          <td :class="statind[8] ? '' : 'gray'">{{ statind[7] || 0 }}/{{ statind[8] || 0 }} ({{ statind[9] || 0 }}&nbsp;%)</td>

          <th :class="statind[15] || 0 ? '' : 'gray'" class="border-left">Assists</th>
          <td :class="statind[15] || 0 ? '' : 'gray'">{{ statind[15] || 0 }}</td>
        </tr>
        <tr>
          <th :class="statind[11] ? '' : 'gray'">3-P Würfe</th>
          <td :class="statind[11] ? '' : 'gray'">{{ statind[10] || 0 }}/{{ statind[11] || 0 }} ({{ statind[12] || 0 }}&nbsp;%)</td>

          <th :class="statind[16] ? '' : 'gray'" class="border-left">Blocks</th>
          <td :class="statind[16] ? '' : 'gray'">{{ statind[16] || 0 }}</td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <th :class="statind[17] ? '' : 'gray'" class="border-left">Steals</th>
          <td :class="statind[17] ? '' : 'gray'">{{ statind[17] || 0 }}</td>
        </tr>
        <tr>
          <th>Effektivität</th>
          <td>{{ efficiency }}</td>
          <th class="border-left">Turnover</th>
          <td>{{ statind[18] || 0 }}</td>
        </tr>
        <tr>
        </tr>
        <tr>
          <th>Spielzeit</th>
          <td>{{ statind[21] || 0 }} min</td>
          <th class="border-left">Spielzeit</th>
          <td>{{ statind[21] || 0 }} min</td>
        </tr>
      </table>
      <div style="display: flex;justify-content: space-between">
        <button v-on:click="sendPlayer('A')" type="button" class="btn btn-primary my-3 mx-3">📺 Scoring</button>
        <button v-on:click="sendPlayer('B')" type="button" class="btn btn-primary my-3 mx-3">📺 Stats</button>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'SinglePlayerStatistic',
  props: {
    id: String,
    number: String,
    name: String,
    firstname: String,
    age: String,
    position: String,
    height: String,
    statind: {
      type: Array,
      default: function () {
        return ['', '', '', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
      }
    },
    team: String,
  },
  computed: {
    seasonStats: function () {
      let stats = {
        points: 0,
        nationality: '',
        REB_nr: 0,
        time: 0,
        BL_nr: 0,
        ST_nr: 0,
        assists: 0,
        DD: 0,
        TD: 0,
        eff: 0,
      };

      const data = JSON.parse(JSON.stringify(this.$parent.playerData));
      if (data.s) {
        stats = data.s.filter(player => player.player_id === this.id);
        if (stats[0]) {
          stats = stats[0];
        }
      }

      return stats;
    },
    publicPlayerId: function () {
      if (this.$parent.playerData['g']) {
        let vm = this;
        const player = this.$parent.playerData['g'].find(player => player.player_id === vm.id)
        return player.id;
      }

      return null;
    },
    efficiency: function () {
      return ((parseInt(this.statind[3]) || 0) + (parseInt(this.statind[14]) || 0) + (parseInt(this.statind[15]) || 0) + parseInt(this.statind[17] || 0) + (parseInt(this.statind[16] || 0)) )
          - (
              (((parseInt(this.statind[8]) || 0) + (parseInt(this.statind[11]) || 0)) // Anzahl Wurfversuche
              - ((parseInt(this.statind[7]) || 0) + (parseInt(this.statind[10]) || 0)))
              + ((parseInt(this.statind[5]) || 0) - (parseInt(this.statind[4]) || 0))
              + (parseInt(this.statind[18]) || 0)
          );
    }
  },
  methods: {
    sendPlayer: function (stat_set) {
      let playerStat = {};

      playerStat.mode = 'single-card';
      playerStat.type = 'player';
      playerStat.data = {};

      playerStat.data.name = this.name;
      playerStat.data.firstname = this.firstname.indexOf(' ') > 0 ? this.firstname.substring(0, this.firstname.indexOf(' ')) : this.firstname;
      playerStat.data.number = this.number;
      playerStat.data.statind = this.statind;

      playerStat.data.stats = {};
      playerStat.data.stats.points = null;

      playerStat.data.stats.ft_attemp = null;
      playerStat.data.stats.ft_made = null;
      playerStat.data.stats.ft_rate = null;
      playerStat.data.stats.p2_attemp = null;
      playerStat.data.stats.p2_made = null;
      playerStat.data.stats.p2_rate = null;
      playerStat.data.stats.p3_attemp = null;
      playerStat.data.stats.p3_made = null;
      playerStat.data.stats.p3_rate = null;
      playerStat.data.stats.fg_attemp = null;
      playerStat.data.stats.fg_made = null;
      playerStat.data.stats.fg_rate = null;
      playerStat.data.stats.fouls = null;
      playerStat.data.stats.rebounds_total = null;
      playerStat.data.stats.assists = null;
      playerStat.data.stats.blocks = null;
      playerStat.data.stats.steals = null;
      playerStat.data.stats.turnover = null;
      playerStat.data.stats.efficiency = null;
      playerStat.data.stats.played_time = null;
      playerStat.data.stats.age = null;
      playerStat.data.stats.height = null;
      playerStat.data.stats.position = null;

      if (stat_set === 'A') {
        playerStat.data.stats.points = this.statind[3] || 0
        playerStat.data.stats.ft_attemp = this.statind[5] || 0
        playerStat.data.stats.ft_made = this.statind[4] || 0
        playerStat.data.stats.ft_rate = this.statind[6] || 0
        playerStat.data.stats.p2_made = this.statind[7] || 0
        playerStat.data.stats.p2_attemp = this.statind[8] || 0
        playerStat.data.stats.p2_rate = this.statind[9] || 0
        playerStat.data.stats.p3_made = this.statind[10] || 0
        playerStat.data.stats.p3_attemp = this.statind[11] || 0
        playerStat.data.stats.p3_rate = this.statind[12] || 0
        playerStat.data.stats.played_time = this.statind[21] || 0;
        playerStat.data.stats.efficiency = this.efficiency;

        // Calculate field goals.
        playerStat.data.stats.fg_attemp = parseInt(playerStat.data.stats.p2_attemp) + parseInt(playerStat.data.stats.p3_attemp);
        playerStat.data.stats.fg_made = parseInt(playerStat.data.stats.p2_made) + parseInt(playerStat.data.stats.p3_made);
        playerStat.data.stats.fg_rate = Math.round((playerStat.data.stats.fg_made / playerStat.data.stats.fg_attemp) * 100);
      }

      if (stat_set === 'B') {
        playerStat.data.stats.points = this.statind[3] || 0
        playerStat.data.stats.fouls = this.statind[13] || 0
        playerStat.data.stats.rebounds_total = this.statind[14] || 0
        playerStat.data.stats.assists = this.statind[15] || 0
        playerStat.data.stats.blocks = this.statind[16] || 0
        playerStat.data.stats.steals = this.statind[17] || 0
        playerStat.data.stats.turnover = this.statind[18] || 0
        playerStat.data.stats.played_time = this.statind[21] || 0;
      }

      if (stat_set === 'B') {
        playerStat.data.stats.fouls = this.statind[13] || 0
        playerStat.data.stats.rebounds_total = this.statind[14] || 0
        playerStat.data.stats.assists = this.statind[15] || 0
        playerStat.data.stats.blocks = this.statind[16] || 0
        playerStat.data.stats.steals = this.statind[17] || 0
        playerStat.data.stats.turnover = this.statind[18] || 0
        playerStat.data.stats.played_time = this.statind[21] || 0;
      }

      if (stat_set === 'C') {
        playerStat.data.stats.age = this.age;
        playerStat.data.stats.height = this.height;
        playerStat.data.stats.position = this.position;
        playerStat.data.seasonStats = this.seasonStats;
      }

      playerStat.data.publicPlayerId = this.publicPlayerId;

      this.$parent.statistics = playerStat;
    }
  }
}
</script>

<style scoped>
.single-player img {
    max-height: 250px;
    object-fit: cover;
    object-position: top;
}
.text-gray, tr.gray th, tr.gray td, td.gray, th.gray {
  color: lightgray;
}
td, th {
  padding: 5px;
}
.border-left {
  border-left: solid 1px lightgray;
}
</style>
