<template>
  <div id="spieltag">
    <h2>{{ round }}. Spieltag</h2>
    <table class="table table-bordered">
    <tr v-for="game in games"
        v-bind:key="game.game_id"
    >
      <td><span v-if="game.datetime">{{ formatDate(game.datetime) }} Uhr</span></td>
      <td>{{ game.home }}</td>
      <td class="score" :class="game.live ? 'text-green' : ''">
        <span v-if="game.live" v-text="game.q" style="display: block;"></span>
        {{ game.hPoints }} : {{ game.gPoints }}
      </td>
      <td>{{ game.guest }}</td>
    </tr>
    </table>
    <button v-on:click="showSpieltag" type="button" class="btn btn-primary my-2">Zeige Spieltag</button>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Spieltag',
  props: {
    game: Object,
    league: String,
  },
  data() {
    return {
      data: null,
      liveData: null,
      interval: null,
      currentGames: {},
    }
  },
  computed: {
    round: function () {
      if (this.data) {
        const game_id = this.game.gameId;
        const data = JSON.parse(JSON.stringify(this.data))
        let all_games = Object.entries(data).filter(function (games) {
          if (games['1'] instanceof Array) {
            let test = games['1'].filter(game => game.id === game_id);
            return (test.length === 1);
          }
          return false;
        })

        if (all_games.length === 1) {
          return all_games[0][0];
        }
      }
      return '';
    },
    games: function () {
      let current_games = {};
      if (this.round && this.data[this.round]) {
        this.data[this.round].forEach(function (item) {
          current_games[item.id] = item;
        });
      }
      return current_games;
    }
  },
  methods: {
    fetchData() {
      let vm = this;
      axios
          .get('https://api.2basketballbundesliga.de/spielplan/' + this.league + '/2022-2023/?t=' + new Date().getTime())
          .then(function(response) {
            vm.data = response.data;
            let current_games = {};
            if (vm.round && response.data[vm.round]) {
              response.data[vm.round].forEach(function (item) {
                current_games[item.id] = item;
              });
            }
            vm.currentGames = current_games;
          })
    },
    formatDate(date) {
      const current_date = new Date(date * 1000);
      return new Intl.DateTimeFormat('de-DE', {
        weekday: 'short',
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
      }).format(current_date);
    },
    getLiveData() {
      let vm = this;
      axios
          .get('https://api.2basketballbundesliga.de/gamesLive/?t=' + new Date().getTime())
          .then(response => vm.liveData = response.data)
    },
    showSpieltag() {
      let statistics = {};
      statistics.data = {};
      statistics.mode = 'full';
      statistics.type = 'spieltag';
      statistics.headline = this.round + '. Spieltag';
      statistics.data.game = this.game;
      statistics.data.league = this.league;

      this.$parent.statistics = statistics;
    }
  },
  watch: {
    liveData: function (newValue) {
      if (newValue.length > 0) {
        let vm = this;
        newValue.forEach(function (game) {
          if (vm.currentGames[game.g]) {
            vm.currentGames[game.g].q = game.q;
            if (game.q !== 'Q0' && game.q !== 'E') {
              vm.currentGames[game.g].live = true;
            }
            vm.currentGames[game.g].hPoints = game.p1;
            vm.currentGames[game.g].gPoints = game.p2;
          }
        });
      }
    },
    league: function () {
      this.fetchData();
    }
  },
  created() {
    this.fetchData();
    this.getLiveData();

    // Fetch data in interval.
    this.interval = setInterval(() => this.getLiveData(), 15000);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  mounted() {
    this.getLiveData();
  }
}
</script>

<style scoped>
#spieltag {
}

td {
  padding: 5px 20px;
}
</style>
