<template>
  <div id="spielplan-prob-nord" class="row my-5">
    <h2>Spielplan</h2>
    <div class="row">
      <div class="col-6">
        <h3>{{ $parent.teams.teamA.name }}</h3>
        <game-table
          v-bind:games="home"
          v-bind:team-id="homeId"
        ></game-table>
      </div>
      <div class="col-6">
        <h3>{{ $parent.teams.teamB.name }}</h3>
        <game-table
          v-bind:games="guest"
          v-bind:team-id="guestId"
        ></game-table>
      </div>
    </div>
    <div>
      <button v-on:click="sendLastGames" type="button" class="btn btn-primary mx-1">Zeige <strong>letzte</strong> 2 Spiele beider Teams</button>
      <button v-on:click="sendNextGames" type="button" class="btn btn-primary mx-1">Zeige <strong>nächste</strong> 2 Spiele beider Teams</button>
      <button v-on:click="fetchData" type="button" class="btn btn-primary mx-1">Aktualisieren 🔃</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import GameTable from './GameTable'

export default {
  name: 'Spielplan',
  components: {
    GameTable,
  },
  props: {
    game_id: String,
    league: String,
    homeId: String,
    guestId: String,
  },
  data() {
    return {
      data: {},
    }
  },
  computed: {
    home: function () {
      let games = [];
      if (this.data) {
        return this.getGamesByTeamId(this.homeId)
      }
      return games;
    },
    guest: function () {
      let games = [];
      if (this.data) {
        return this.getGamesByTeamId(this.guestId)
      }
      return games;
    },
    round: function () {
      if (this.data && this.game_id) {
        const game_id = this.game_id;
        const data = JSON.parse(JSON.stringify(this.data))
        let all_games = Object.entries(data).filter(function (games) {
          if (games['1'] instanceof Array) {
            let test = games['1'].filter(game => game.id === game_id);
            return (test.length === 1);
          }
          return false;
        })

        if (all_games.length === 1) {
          return all_games[0][0];
        }
      }
      return '';
    },
  },
  methods: {
    getGamesByTeamId(teamId) {
      let games = [];
      const all_games = JSON.parse(JSON.stringify(this.data));
      Object.keys(all_games).forEach(key => {
        if (all_games[key] instanceof Array) {
          all_games[key].map(function (game) {
            if (game.homeId === teamId || game.guestId === teamId) {
              const date = new Date(game.datetime * 1000);
              game.date_human = new Intl.DateTimeFormat('de-DE', {
                weekday: 'short',
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
              }).format(date);
              games.push(game)
            }
            else {
              return null
            }
          });
        }
      });
      return games;
    },
    setData(data) {
      this.data = data;
    },
    sendLastGames: function () {
      let statistics = {}, gamesHome = [...this.home], gamesGuest = [...this.guest];
      statistics.data = {};
      statistics.mode = 'full';
      statistics.type = 'last_games';
      statistics.headline = 'Vergangene Spiele';
      statistics.data.home = gamesHome.slice(parseInt(this.round)-3, parseInt(this.round)-1)
      statistics.data.guest = gamesGuest.slice(parseInt(this.round)-3, parseInt(this.round)-1)

      this.$parent.statistics = statistics;
    },
    sendNextGames: function () {
      let statistics = {}, gamesHome = [...this.home], gamesGuest = [...this.guest];
      statistics.data = {};
      statistics.mode = 'full';
      statistics.type = 'next_games';
      statistics.headline = 'Die nächsten Spiele';
      statistics.data.home = gamesHome.slice(parseInt(this.round), parseInt(this.round)+2)
      statistics.data.guest = gamesGuest.slice(parseInt(this.round), parseInt(this.round)+2)

      this.$parent.statistics = statistics;
    },
    fetchData() {
      console.log('Fetch Spielplan');
      let vm = this;
      axios
          .get('https://api.2basketballbundesliga.de/spielplan/' + this.league + '/2022-2023/?t=' + new Date().getTime())
          .then(response => vm.setData(response.data))
    }
  },
  created() {
    this.fetchData();
  },
  watch: {
    league: function () {
      this.fetchData();
    },
    homeId: function () {
      this.fetchData();
    },
    guestId: function () {
      this.fetchData();
    },
  }
}
</script>

<style scoped>
td {
  padding: 0 20px;
}
</style>
