<template>
  <div id="starting-five">
    <div class="row">
      <div class="col-6">
        <table class="table table-bordered">
          <tr>
            <th colspan="2">{{ teamA }}</th>
          </tr>
          <tr
              v-for="player in startingFiveA"
              v-bind:key="player.ID"
          >
            <td>#{{ player.Nr }} {{ player.FirstName }} {{ player.Name }}</td>
            <td>{{ player.Posshort }}</td>
          </tr>
        </table>
      </div>
      <div class="col-6">
        <table class="table table-bordered">
          <tr>
            <th colspan="2">{{ teamB }}</th>
          </tr>
          <tr
              v-for="player in startingFiveB"
              v-bind:key="player.ID"
          >
            <td>#{{ player.Nr }} {{ player.FirstName }} {{ player.Name }}</td>
            <td>{{ player.Posshort }}</td>
          </tr>
        </table>
      </div>
    </div>
    <button v-on:click="sendStartingFive" type="button" class="btn btn-primary">Zeige Starting Five</button>
  </div>
</template>

<script>
export default {
  name: 'StartingFive',
  props: {
    teamA: String,
    teamB: String,
    homeID: String,
    guestID: String,
    startingFiveARaw: Array,
    startingFiveBRaw: Array,
    playersA: Array,
    playersB: Array,
    publicPlayerIds: Array,
  },
  computed: {
    startingFiveA() {
      let players_team = [];
      if (this.playersA) {
        const vm = this;
        this.startingFiveARaw.forEach((element) => {
          const match = this.playersA.find(player => player.Nr === element[2]);
          if (match && vm.$parent.playerData['g']) {
            const player = vm.$parent.playerData['g'].find(player => player.player_id === match.ID)
            match.publicPlayerId = player.id;
            players_team.push(match);
          }
        })
      }
      return players_team;
    },
    startingFiveB() {
      let players_team = [];
      if (this.playersB) {
        const vm = this;
        this.startingFiveBRaw.forEach((element) => {
          const match = this.playersB.find(player => player.Nr === element[2]);
          if (match) {
            if (match && vm.$parent.playerData['g']) {
              const player = vm.$parent.playerData['g'].find(player => player.player_id === match.ID)
              match.publicPlayerId = player.id;
              players_team.push(match);
            }
          }
        })
      }
      return players_team;
    },
  },
  methods: {
    sendStartingFive: function () {
      let statistics = {};
      statistics.data = {};
      statistics.mode = 'full';
      statistics.type = 'starting_five';
      statistics.headline = 'Starting Five';
      statistics.data.teamA = this.teamA;
      statistics.data.guestID = this.guestID
      statistics.data.teamB = this.teamB;
      statistics.data.homeID = this.homeID;
      statistics.data.startingFiveA = this.startingFiveA;
      statistics.data.startingFiveB = this.startingFiveB;

      this.$parent.statistics = statistics;
    }
  }
}
</script>
