<template>
  <div id="team-statistics">
    <table class="table table-bordered">
      <tr>
        <th colspan="3" class="text-center">{{ teamA.name }}</th>
        <th class="bg-light"></th>
        <th colspan="3" class="text-center">{{ teamB.name }}</th>
      </tr>
      <tr>
        <th class="text-right">Saison Ø</th>
        <th class="text-right">Spiel</th>
        <th class="text-right">{{ currentPeriod }}</th>
        <th class="text-center bg-light"></th>
        <th>{{ currentPeriod }}</th>
        <th>Spiel</th>
        <th>Saison Ø</th>
      </tr>
      <tr>
        <td class="text-right">{{ teamA.current_season_points }}</td>
        <td class="text-right">{{ teamA.current_game_points }}</td>
        <td class="text-right">{{ teamA.current_quarter_points }}</td>
        <th class="text-center bg-light">Punkte</th>
        <td>{{ teamB.current_quarter_points }}</td>
        <td>{{ teamB.current_game_points }}</td>
        <td>{{ teamB.current_season_points }}</td>
      </tr>
      <tr>
        <td class="text-right">Defensive: {{ teamA.current_season_rebounds_defensive }},<br>Offensive: {{ teamA.current_season_rebounds_offensive }},<br>Gesamt: {{ teamA.current_season_rebounds_total }}</td>
        <td class="text-right">Defensive: {{ teamA.current_game_rebounds_defensive }},<br>Offensive: {{ teamA.current_game_rebounds_offensive }},<br>Gesamt: {{ teamA.current_game_rebounds_total }}</td>
        <td class="text-right">Defensive: {{ teamA.current_quarter_rebounds_defensive }},<br>Offensive: {{ teamA.current_quarter_rebounds_offensive }},<br>Gesamt: {{ teamA.current_quarter_rebounds_total }}</td>
        <th class="text-center bg-light">Rebounds</th>
        <td>Defensive: {{ teamB.current_quarter_rebounds_defensive }},<br>Offensive: {{ teamB.current_quarter_rebounds_offensive }},<br>Gesamt: {{ teamB.current_quarter_rebounds_total }}</td>
        <td>Defensive: {{ teamB.current_game_rebounds_defensive }},<br>Offensive: {{ teamB.current_game_rebounds_offensive }},<br>Gesamt: {{ teamB.current_game_rebounds_total }}</td>
        <td>Defensive: {{ teamB.current_season_rebounds_defensive }},<br>Offensive: {{ teamB.current_season_rebounds_offensive }},<br>Gesamt: {{ teamB.current_season_rebounds_total }}</td>
      </tr>
      <tr>
        <td class="text-right">{{ teamA.current_season_blocks }}</td>
        <td class="text-right">{{ teamA.current_game_blocks }}</td>
        <td class="text-right">{{ teamA.current_quarter_blocks }}</td>
        <th class="text-center bg-light">Blocks</th>
        <td>{{ teamB.current_quarter_blocks }}</td>
        <td>{{ teamB.current_game_blocks }}</td>
        <td>{{ teamB.current_season_blocks }}</td>
      </tr>
      <tr>
        <td class="text-right">{{ teamA.current_season_steals }}</td>
        <td class="text-right">{{ teamA.current_game_steals }}</td>
        <td class="text-right">{{ teamA.current_quarter_steals }}</td>
        <th class="text-center bg-light">Steals</th>
        <td>{{ teamB.current_quarter_steals }}</td>
        <td>{{ teamB.current_game_steals }}</td>
        <td>{{ teamB.current_season_steals }}</td>
      </tr>
      <tr>
         <td class="text-right">{{ teamA.current_season_turnover }}</td>
        <td class="text-right">{{ teamA.current_game_turnover }}</td>
        <td class="text-right">{{ teamA.current_quarter_turnover }}</td>
        <th class="text-center bg-light">Ballverluste</th>
        <td>{{ teamB.current_quarter_turnover }}</td>
        <td>{{ teamB.current_game_turnover }}</td>
         <td>{{ teamB.current_season_turnover }}</td>
      </tr>
      <tr>
         <td class="text-right">{{ teamA.current_season_assists }}</td>
        <td class="text-right">{{ teamA.current_game_assists }}</td>
        <td class="text-right">{{ teamA.current_quarter_assists }}</td>
        <th class="text-center bg-light">Assists</th>
        <td>{{ teamA.current_quarter_assists }}</td>
        <td>{{ teamB.current_game_assists }}</td>
        <td>{{ teamB.current_season_assists }}</td>
      </tr>
      <tr>
        <td class="text-right">{{ teamA.current_season_p2_made }} / {{ teamA.current_season_p2_attempts }} ({{ teamA.current_season_p2_rate }} %)</td>
        <td class="text-right">{{ teamA.current_game_p2_made }}/{{ teamA.current_game_p2_attempts }} ({{ teamA.current_game_p2_rate }} %)</td>
        <td class="text-right">{{ teamA.current_quarter_p2_made }}/{{ teamA.current_quarter_p2_attempts }} ({{ teamA.current_quarter_p2_rate }} %)</td>
        <th class="text-center bg-light">2er Würfe</th>
        <td>{{ teamB.current_quarter_p2_made }}/{{ teamB.current_quarter_p2_attempts }} ({{ teamB.current_quarter_p2_rate }} %)</td>
        <td>{{ teamB.current_game_p2_made }}/{{ teamB.current_game_p2_attempts }} ({{ teamB.current_game_p2_rate }} %)</td>
        <td>{{ teamB.current_season_p2_made }} / {{ teamB.current_season_p2_attempts }} ({{ teamB.current_season_p2_rate }} %)</td>
      </tr>
      <tr>
        <td class="text-right">{{ teamA.current_season_p3_made }} / {{ teamA.current_season_p3_attempts }} ({{ teamA.current_season_p3_rate }} %)</td>
        <td class="text-right">{{ teamA.current_game_p3_made }}/{{ teamA.current_game_p3_attempts }} ({{ teamA.current_game_p3_rate }} %)</td>
        <td class="text-right">{{ teamA.current_quarter_p3_made }}/{{ teamA.current_quarter_p3_attempts }} ({{ teamA.current_quarter_p3_rate }} %)</td>
        <th class="text-center bg-light">3er Würfe</th>
        <td>{{ teamB.current_quarter_p3_made }}/{{ teamB.current_quarter_p3_attempts }} ({{ teamB.current_quarter_p3_rate }} %)</td>
        <td>{{ teamB.current_game_p3_made }}/{{ teamB.current_game_p3_attempts }} ({{ teamB.current_game_p3_rate }} %)</td>
        <td>{{ teamB.current_season_p3_made }} / {{ teamB.current_season_p3_attempts }} ({{ teamB.current_season_p3_rate }} %)</td>
      </tr>
      <tr>
        <td class="text-right">{{ teamA.current_season_fg_made }} / {{ teamA.current_season_fg_attempts }} ({{ teamA.current_season_fg_rate }} %)</td>
        <td class="text-right">{{ teamA.current_game_fg_made }}/{{ teamA.current_game_fg_attempts }} ({{ teamA.current_game_fg_rate }} %)</td>
        <td class="text-right">{{ teamA.current_quarter_fg_made }}/{{ teamA.current_quarter_fg_attempts }} ({{ teamA.current_quarter_fg_rate }} %)</td>
        <th class="text-center bg-light">Gesamt Würfe</th>
        <td>{{ teamB.current_quarter_fg_made }}/{{ teamB.current_quarter_fg_attempts }} ({{ teamB.current_quarter_fg_rate }} %)</td>
        <td>{{ teamB.current_game_fg_made }}/{{ teamB.current_game_fg_attempts }} ({{ teamB.current_game_fg_rate }} %)</td>
        <td>{{ teamB.current_season_fg_made }} / {{ teamB.current_season_fg_attempts }} ({{ teamB.current_season_fg_rate }} %)</td>
      </tr>
      <tr>
        <td class="text-right">{{ teamA.current_season_ft_made }} / {{ teamA.current_season_ft_attempts }} ({{ teamA.current_season_ft_rate }} %)</td>
        <td class="text-right">{{ teamA.current_game_ft_made }}/{{ teamA.current_game_ft_attempts }} ({{ teamA.current_game_ft_rate }} %)</td>
        <td class="text-right">{{ teamA.current_quarter_ft_made }}/{{ teamA.current_quarter_ft_attempts }} ({{ teamA.current_quarter_ft_rate }} %)</td>
        <th class="text-center bg-light">Freiwürfe</th>
        <td>{{ teamB.current_quarter_ft_made }}/{{ teamB.current_quarter_ft_attempts }} ({{ teamB.current_quarter_ft_rate }} %)</td>
        <td>{{ teamB.current_game_ft_made }}/{{ teamB.current_game_ft_attempts }} ({{ teamB.current_game_ft_rate }} %)</td>
        <td>{{ teamB.current_season_ft_made }} / {{ teamB.current_season_ft_attempts }} ({{ teamB.current_season_ft_rate }} %)</td>
      </tr>
      <tr>
        <td class="text-right">{{ teamA.current_season_fouls }}</td>
        <td class="text-right">{{ teamA.current_game_fouls }}</td>
        <td class="text-right">{{ teamA.current_quarter_fouls }}</td>
        <th class="text-center bg-light">Fouls</th>
        <td>{{ teamB.current_quarter_fouls }}</td>
        <td>{{ teamB.current_game_fouls }}</td>
        <td>{{ teamB.current_season_fouls }}</td>
      </tr>
    </table>
    <button v-on:click="sendCurrentStats('season')" type="button" class="btn btn-primary">Zeige Statistik Saison-Schnitt</button>&nbsp;
    <button v-on:click="sendCurrentStats('game')" type="button" class="btn btn-primary">Zeige Statistik Gesamtes Spiel</button>&nbsp;
    <button v-on:click="sendCurrentStats('quarter')" type="button" class="btn btn-primary">Zeige Statistik {{ currentPeriod }}</button>
  </div>
</template>

<script>
export default {
  name: 'TeamStatistics',
  props: {
    game: Object,
    teamA: Object,
    teamB: Object,
  },
  data() {
    return {
      seasonStats: {}
    }
  },
  computed: {
    currentPeriod() {
      return this.$parent.currentPeriod
    },
  },
  methods: {
    sendCurrentStats: function (current) {
      let statistics = {};
      statistics.data = {};
      statistics.mode = 'full';
      statistics.current = current;
      statistics.type = 'team_statistics_current';
      statistics.headline = 'Teamstatistiken';
      switch (current) {
        case 'quarter':
          statistics.headline2 = 'Aktuelles Viertel: ' + this.currentPeriod;
          break;
        case 'game':
          statistics.headline2 = 'Gesamtes Spiel';
          break;
        case 'season':
          statistics.headline2 = 'Gesamte Saison Ø';
          break;
      }
      statistics.data.teamA = this.teamA;
      statistics.data.teamB = this.teamB;
      statistics.data.currentPeriod = this.currentPeriod;

      this.$parent.statistics = statistics;
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

<style>
.text-right {
  text-align: right;
}
</style>